In [16]:
import pandas as pd
import pickle as pkl

In [32]:
strrr='/data/dharp/compounding/datasets/entire_df_0.h5'

'words_0.csv'

## Reducing Heads

In [2]:
heads=pd.read_pickle('/data/dharp/compounding/datasets/heads.pkl')

In [3]:
heads_reduced=pd.read_csv('/data/dharp/compounding/datasets/heads_reduced.csv',sep='\t')
heads.info()
heads.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379409902 entries, 0 to 379409901
Data columns (total 4 columns):
head       object
context    object
year       int64
count      int64
dtypes: int64(2), object(2)
memory usage: 11.3+ GB

     head       context  year  count
0  a_noun  abstract_adj  1909      7
1  a_noun  abstract_adj  1912      8
2  a_noun  abstract_adj  1922      2
3  a_noun  abstract_adj  1928      1
4  a_noun  abstract_adj  1932      1

In [3]:
heads.info()
heads.head()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 197240335 entries, (a_noun, '_noun, 1860) to (zywicki_noun, world_noun, 1993)
Data columns (total 1 columns):
count    float64
dtypes: float64(1)
memory usage: 3.3+ GB

                     count
head   context year
a_noun '_noun  1860    2.0
               1873    4.0
               1882    1.0
               1889    2.0
               1894    7.0

In [8]:
head_list=list(set(heads.index.get_level_values(0).tolist()))

In [9]:
len(head_list)

108590

In [5]:
heads_complete=pd.concat([heads,heads_reduced],ignore_index=True,sort=False)
heads_complete.info()
heads_complete.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476816626 entries, 0 to 476816625
Data columns (total 4 columns):
head       object
context    object
year       int64
count      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 14.2+ GB

     head       context  year  count
0  a_noun  abstract_adj  1909    7.0
1  a_noun  abstract_adj  1912    8.0
2  a_noun  abstract_adj  1922    2.0
3  a_noun  abstract_adj  1928    1.0
4  a_noun  abstract_adj  1932    1.0

In [6]:
old_shape=heads_complete.shape[0]
heads_complete=heads_complete.groupby(['head','context','year'])['count'].sum().to_frame()
new_shape=heads_complete.shape[0]
print(f'Change in Head shape {(new_shape-old_shape)/old_shape*100:.2f}')
heads_complete.info()
heads_complete.head()

Change in Head shape -58.63
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 197240335 entries, (a_noun, '_noun, 1860) to (zywicki_noun, world_noun, 1993)
Data columns (total 1 columns):
count    float64
dtypes: float64(1)
memory usage: 3.3+ GB

                     count
head   context year
a_noun '_noun  1860    2.0
               1873    4.0
               1882    1.0
               1889    2.0
               1894    7.0

## Reducing Modifiers

In [10]:
modifiers=pd.read_pickle('/data/dharp/compounding/datasets/modifiers.pkl')
modifiers.info()
modifiers.head()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 182754466 entries, (a_noun, '_noun, 1821) to (zzzz_noun, security_noun, 2008)
Data columns (total 1 columns):
count    float64
dtypes: float64(1)
memory usage: 3.1+ GB

                       count
modifier context year
a_noun   '_noun  1821    1.0
                 1831    1.0
                 1838    4.0
                 1843    5.0
                 1847    1.0

In [11]:
modifiers_list=list(set(modifiers.index.get_level_values(0).tolist()))

In [12]:
len(modifiers_list)

90565

In [14]:
words_list=list(set(head_list+modifiers_list))

In [15]:
len(words_list)

151817

In [17]:
pkl.dump( words_list, open( "words_list.pkl", "wb" ) )

In [8]:
modifiers_reduced=pd.read_csv('/data/dharp/compounding/datasets/modifiers_reduced.csv',sep='\t')
modifiers_reduced.info()
modifiers_reduced.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91187126 entries, 0 to 91187125
Data columns (total 4 columns):
modifier    object
context     object
year        int64
count       int64
dtypes: int64(2), object(2)
memory usage: 2.7+ GB

  modifier context  year  count
0   a_noun  '_verb  1952      1
1   a_noun  '_verb  1956      1
2   a_noun  '_verb  1957      1
3   a_noun  '_verb  1958      1
4   a_noun  '_verb  1961      1

In [9]:
modifiers_complete=pd.concat([modifiers,modifiers_reduced],ignore_index=True,sort=False)
modifiers_complete.info()
modifiers_complete.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439294472 entries, 0 to 439294471
Data columns (total 4 columns):
modifier    object
context     object
year        int64
count       float64
dtypes: float64(1), int64(1), object(2)
memory usage: 13.1+ GB

  modifier context  year  count
0   a_noun  b_noun  1862    2.0
1   a_noun  b_noun  1877    1.0
2   a_noun  b_noun  1889    1.0
3   a_noun  b_noun  1890    3.0
4   a_noun  b_noun  1899    1.0

In [10]:
old_shape=modifiers_complete.shape[0]
modifiers_complete=modifiers_complete.groupby(['modifier','context','year'])['count'].sum().to_frame()
new_shape=modifiers_complete.shape[0]
print(f'Change in Modifier shape {(new_shape-old_shape)/old_shape*100:.2f}')
modifiers_complete.info()
modifiers_complete.head()

Change in Modifier shape -58.40
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 182754467 entries, (_noun, 1896, 4) to (zzzz_noun, security_noun, 2008)
Data columns (total 1 columns):
count    float64
dtypes: float64(1)
memory usage: 3.1+ GB

                       count
modifier context year
_noun    1896    4       0.0
a_noun   '_noun  1821    1.0
                 1831    1.0
                 1838    4.0
                 1843    5.0

In [18]:
modifiers_complete=modifiers_complete[1:]

## Reducing Compounds

In [11]:
compounds=pd.read_csv('/data/dharp/compounding/datasets/compounds.csv',sep='\t')
compounds.info()
compounds.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307153050 entries, 0 to 307153049
Data columns (total 5 columns):
modifier    object
head        object
context     object
year        int64
count       int64
dtypes: int64(2), object(3)
memory usage: 11.4+ GB

  modifier    head context  year  count
0   a_noun  b_noun  c_noun  1862      2
1   a_noun  b_noun  c_noun  1877      1
2   a_noun  b_noun  c_noun  1889      1
3   a_noun  b_noun  c_noun  1890      3
4   a_noun  b_noun  c_noun  1899      1

In [12]:
compounds_reduced=pd.read_csv('/data/dharp/compounding/datasets/compounds_reduced.csv',sep='\t')
compounds_reduced.info()
compounds_reduced.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116884813 entries, 0 to 116884812
Data columns (total 5 columns):
modifier    object
head        object
context     object
year        float64
count       float64
dtypes: float64(2), object(3)
memory usage: 4.4+ GB

  modifier        head context    year  count
0   a_noun  aaaaa_noun  a_noun  1877.0    1.0
1   a_noun  aaaaa_noun  a_noun  1913.0    1.0
2   a_noun  aaaaa_noun  a_noun  1925.0    3.0
3   a_noun  aaaaa_noun  a_noun  1931.0    1.0
4   a_noun  aaaaa_noun  a_noun  1948.0    1.0

In [13]:
compounds_complete=pd.concat([compounds,compounds_reduced],ignore_index=True,sort=False)
compounds_complete.info()
compounds_complete.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424037863 entries, 0 to 424037862
Data columns (total 5 columns):
modifier    object
head        object
context     object
year        float64
count       float64
dtypes: float64(2), object(3)
memory usage: 15.8+ GB

  modifier    head context    year  count
0   a_noun  b_noun  c_noun  1862.0    2.0
1   a_noun  b_noun  c_noun  1877.0    1.0
2   a_noun  b_noun  c_noun  1889.0    1.0
3   a_noun  b_noun  c_noun  1890.0    3.0
4   a_noun  b_noun  c_noun  1899.0    1.0

In [14]:
old_shape=compounds_complete.shape[0]
compounds_complete=compounds_complete.groupby(['modifier','head','context','year'])['count'].sum().to_frame()
new_shape=compounds_complete.shape[0]
print(f'Change in Modifier shape {(new_shape-old_shape)/old_shape*100:.2f}')
compounds_complete.info()
compounds_complete.head()

Change in Modifier shape -34.88
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 276118570 entries, (a_noun, aaaaa_noun, a_noun, 1877.0) to (zzzz_noun, best_noun, security_noun, 2008.0)
Data columns (total 1 columns):
count    float64
dtypes: float64(1)
memory usage: 5.7+ GB

                                    count
modifier head       context year
a_noun   aaaaa_noun a_noun  1877.0    1.0
                            1913.0    1.0
                            1925.0    3.0
                            1931.0    1.0
                            1948.0    1.0

## Reducing Phrases

In [5]:
phrases=pd.read_csv('/data/dharp/compounding/datasets/phrases.csv',sep='\t')
old_shape=phrases.shape[0]
phrases=phrases.groupby(['modifier','head','context','year'])['count'].sum().to_frame()
new_shape=phrases.shape[0]
print(f'Change in Phrases shape {(new_shape-old_shape)/old_shape*100:.2f}')
phrases.info()
phrases.head()

Change in Phrases shape -49.21
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 67609736 entries, (----_n, x_n, x_n, 1920) to (zzzz_n, best_n, security_n, 2000)
Data columns (total 1 columns):
count    int64
dtypes: int64(1)
memory usage: 1.3+ GB

                              count
modifier head context decade
----_n   x_n  x_n     1920        3
                      1930        6
                      1940       36
                      1950       24
                      1960       57

# Saving files

In [20]:
heads_complete.to_pickle('/data/dharp/compounding/datasets/heads.pkl')

In [21]:
modifiers_complete.to_pickle('/data/dharp/compounding/datasets/modifiers.pkl')

In [22]:
compounds_complete.to_pickle('/data/dharp/compounding/datasets/compounds.pkl')

In [9]:
phrases.to_csv('/data/dharp/compounding/datasets/phrases.csv',sep='\t')

## Reading in Words file

In [ ]:
words=pd.read_csv('/data/dharp/compounding/datasets/words.csv',sep='\t')
old_shape=words.shape[0]
words=words.groupby(['head','context','decade'])['count'].sum().to_frame()
new_shape=words.shape[0]
print(f'Change in Head shape {(new_shape-old_shape)/old_shape*100:.2f}')
heads.info()
heads.head()