In [1]:
import pandas as pd

## Reducing Heads

In [2]:
heads=pd.read_csv('/data/dharp/compounding/datasets/heads.csv',sep='\t')
old_shape=heads.shape[0]
heads=heads.groupby(['head','context','year'])['count'].sum().to_frame()
new_shape=heads.shape[0]
print(f'Change in Head shape {(new_shape-old_shape)/old_shape*100:.2f}')
heads.info()
heads.head()

Change in Head shape -62.47
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33226515 entries, (a_n, a_a, 1800) to (zywicki_n, world_n, 1990)
Data columns (total 1 columns):
count    int64
dtypes: int64(1)
memory usage: 539.9+ MB

                     count
head context decade
a_n  a_a     1800        4
             1810       20
             1820       10
             1830       14
             1840       14

## Reducing Modifiers

In [3]:
modifiers=pd.read_csv('/data/dharp/compounding/datasets/modifiers.csv',sep='\t')
old_shape=modifiers.shape[0]
modifiers=modifiers.groupby(['modifier','context','year'])['count'].sum().to_frame()
new_shape=modifiers.shape[0]
print(f'Change in Modifier shape {(new_shape-old_shape)/old_shape*100:.2f}')
modifiers.info()
modifiers.head()

Change in Modifier shape -61.99
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 29756100 entries, (a_n, a_n, 1830) to (zzzz_n, security_n, 2000)
Data columns (total 1 columns):
count    int64
dtypes: int64(1)
memory usage: 483.5+ MB

                         count
modifier context decade
a_n      a_n     1830        1
                 1870        1
                 1880        3
                 1890        1
                 1900        1

## Reducing Compounds

In [4]:
compounds=pd.read_csv('/data/dharp/compounding/datasets/compounds.csv',sep='\t')
old_shape=compounds.shape[0]
compounds=compounds.groupby(['modifier','head','context','year'])['count'].sum().to_frame()
new_shape=compounds.shape[0]
print(f'Change in Compound shape {(new_shape-old_shape)/old_shape*100:.2f}')
compounds.info()
compounds.head()

Change in Compound shape -47.82
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 60075611 entries, (a_n, aaaaa_n, a_n, 1870) to (zzzz_n, best_n, security_n, 2000)
Data columns (total 1 columns):
count    int64
dtypes: int64(1)
memory usage: 1.2+ GB

                                 count
modifier head    context decade
a_n      aaaaa_n a_n     1870        1
                         1910        1
                         1920        3
                         1930        1
                         1940        1

## Reducing Phrases

In [5]:
phrases=pd.read_csv('/data/dharp/compounding/datasets/phrases.csv',sep='\t')
old_shape=phrases.shape[0]
phrases=phrases.groupby(['modifier','head','context','year'])['count'].sum().to_frame()
new_shape=phrases.shape[0]
print(f'Change in Phrases shape {(new_shape-old_shape)/old_shape*100:.2f}')
phrases.info()
phrases.head()

Change in Phrases shape -49.21
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 67609736 entries, (----_n, x_n, x_n, 1920) to (zzzz_n, best_n, security_n, 2000)
Data columns (total 1 columns):
count    int64
dtypes: int64(1)
memory usage: 1.3+ GB

                              count
modifier head context decade
----_n   x_n  x_n     1920        3
                      1930        6
                      1940       36
                      1950       24
                      1960       57

# Saving files

In [6]:
heads.to_csv('/data/dharp/compounding/datasets/heads.csv',sep='\t')

In [7]:
modifiers.to_csv('/data/dharp/compounding/datasets/modifiers.csv',sep='\t')

In [8]:
compounds.to_csv('/data/dharp/compounding/datasets/compounds.csv',sep='\t')

In [9]:
phrases.to_csv('/data/dharp/compounding/datasets/phrases.csv',sep='\t')

## Reading in Words file

In [ ]:
words=pd.read_csv('/data/dharp/compounding/datasets/words.csv',sep='\t')
old_shape=words.shape[0]
words=words.groupby(['head','context','decade'])['count'].sum().to_frame()
new_shape=words.shape[0]
print(f'Change in Head shape {(new_shape-old_shape)/old_shape*100:.2f}')
heads.info()
heads.head()