In [53]:
import numpy as np
import pandas as pd
import pickle as pkl
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.mode.chained_assignment = None
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split,LeaveOneOut,KFold,RepeatedStratifiedKFold
%matplotlib inline
import matplotlib
#matplotlib.use('agg')
matplotlib.style.use('ggplot')

from matplotlib import pyplot as plt
from collections import Counter
from functools import reduce
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
import nltk
from nltk.tag.stanford import StanfordNERTagger
st = StanfordNERTagger('unigrams/stanford-ner-2018-02-27/classifiers/english.all.3class.distsim.crf.ser.gz','unigrams/stanford-ner-2018-02-27/stanford-ner-3.9.1.jar',encoding='utf-8')

In [54]:
br_to_us=pd.read_excel("Book.xlsx")
br_to_us_dict=dict(zip(br_to_us.UK.tolist(),br_to_us.US.tolist()))
decades=[2000, 1990, 1980, 1970, 1960, 1950, 1940, 1930, 1920, 1900, 1910,
            1890, 1880, 1870, 1850, 1860, 1840, 1830, 1820, 1810, 1800]
old_decades=decades[1:]
l1=dict(zip([1,-1],['Positive','Negative']))
replacements={'modifier':br_to_us_dict,'head':br_to_us_dict,'Class':l1}
new_heads = pkl.load( open( "new_heads.p", "rb" ) )
new_modifiers = pkl.load( open( "new_modifiers.p", "rb" ) )

In [55]:
def tupleconverter(tup):
    dicter={}
    for word,decade in tup:
        #print(word,decade)
        if word in dicter:
            dicter[word].append(decade)
        else:
            dicter[word]=[]
            dicter[word].append(decade)
            
    #for word,decades in dicter.items():
        #print(word)
        #print(decades)
        #dicter[word]=Counter(decades)
        #print(dicter[word])
    return(dicter)


def decremover(dc):

    new_constituents=[]
    for constituent,decades in dc.items():
        if len(decades)==1:
            if 2000 in decades:
                new_constituents.append(constituent)
    return(new_constituents)




def magnituder(x):
    return(np.sqrt(np.sum(np.square(x))))

def new_compound_finder(df,decade=2000):
    new_compounds=[]
    for key,val in compound_decades.items():
        if len(val)==1 and decade in val:
            new_compounds.append(key)
    return new_compounds

def lemma_maker(x):
    #print(x,y)
    return lemmatizer.lemmatize(x)

def ner_checker(stat):
    temp_list=st.tag(stat)
    if temp_list[0][1]=="PERSON" and temp_list[1][1]=="PERSON":
        return stat,True
    else:
        return stat,False

## Loading the individual datasets of Modifiers, Heads and Compounds

In [56]:
heads=pd.read_csv("heads.csv",sep="\t",header=None,usecols=[1,2,4])
heads.columns=["head","context","count"]
#heads.info()
total_head_count=heads['count'].sum()
heads=heads.groupby(['head','context'])['count'].sum().to_frame()
heads.reset_index(inplace=True)
heads=heads.loc[~heads['head'].isin(new_heads)]
heads.set_index(['head'],inplace=True)
heads

                 context  count
head
a_n            abridge_v     59
a_n           abstract_n    569
a_n         accredited_a     74
a_n            acquire_v    116
a_n           activity_n    105
a_n              acute_a     44
a_n              alarm_n     46
a_n            almanac_n    899
a_n             always_r    509
a_n              amend_v    204
a_n          amendment_n   1066
a_n             ampere_n    197
a_n              annex_n    366
a_n           appendix_n    718
a_n              apply_v     85
a_n                arm_n    252
a_n               army_n    235
a_n                 as_r    118
a_n                ask_v     44
a_n                  b_n    651
a_n                 be_v   4724
a_n               bear_n    140
a_n            benefit_n    762
a_n               bind_n     40
a_n          blindness_n     43
a_n              blood_n     55
a_n                bow_n     61
a_n                buy_v     44
a_n                 by_v     61
a_n                  c_n    832
...                  ...    ...
zone_n          solute_n     62
zone_n           south_a     52
zone_n         special_n    115
zone_n        standard_a     50
zone_n           study_n     54
zone_n   substantially_r    123
zone_n            such_a    351
zone_n      sufficient_a    120
zone_n        surround_v     77
zone_n          target_n    151
zone_n            time_n    409
zone_n           trace_v     56
zone_n           trade_n   1843
zone_n         traffic_n    111
zone_n  transformation_n     65
zone_n      transition_n     97
zone_n              un_n     43
zone_n             use_v     63
zone_n      vegetation_n     46
zone_n     ventricular_n    126
zone_n      verifiable_a     50
zone_n      vertically_r     47
zone_n             war_n    407
zone_n            west_a     56
zone_n         western_a     57
zone_n           where_r     44
zone_n            will_v    681
zone_n           would_v     72
zone_n            zone_n    393
zone_n            zone_v    307

[380374 rows x 2 columns]

In [57]:
head_counts=heads.groupby(['head'])['count'].sum().to_frame()
head_counts.columns=['head_count']
head_counts

                head_count
head
a_n                  73116
aa_n                   356
aaron_n                984
ab_n                  8318
ababa_n                587
abandonment_n          432
abatement_n            350
abba_n                 150
abbas_n                732
abbess_n               472
abbey_n               4359
abbot_n               1224
abbott_n              1068
abbreviation_n        4576
abc_n                 1300
abdul_n               1356
abdullah_n             280
abe_n                 1212
abelard_n              123
aberdeen_n            1936
aberration_n           940
abigail_n             1588
ability_n             3848
ablation_n             865
abnormality_n        18584
abolition_n            920
abortion_n            7706
abraham_n             9451
abrams_n               416
abroad_n               507
...                    ...
yearbook_n             176
yeats_n               2604
yell_n                 852
yeltsin_n             3736
yeoman_n               380
yes_n                 1868
yesterday_n           6632
yi_n                  1484
yield_n              13265
yonder_n              1860
york_n             1100774
yorker_n              1640
yorkers_n             4889
young_n               7454
yours_n               6604
youth_n               6339
yuan_n                6572
yugoslavia_n           508
z_n                   8184
zachary_n             5462
zanzibar_n             204
zeal_n                 956
zealand_n           103379
zealot_n               192
zimbabwe_n             672
zimmerman_n            129
zion_n                3112
zionist_n              172
zip_n                 3264
zone_n               37699

[9987 rows x 1 columns]

In [58]:
modifiers=pd.read_csv("modifiers.csv",sep="\t",header=None,usecols=[1,2,4])
modifiers.columns=["modifier","context","count"]
total_modifier_count=modifiers['count'].sum()
modifiers=modifiers.groupby(['modifier','context'])['count'].sum().to_frame()
modifiers.reset_index(inplace=True)
modifiers=modifiers.loc[~modifiers['modifier'].isin(new_modifiers)]
modifiers.set_index(['modifier'],inplace=True)
modifiers

                      context  count
modifier
a_n                 almanac_n    100
a_n                       b_n     55
a_n                      be_v    185
a_n                    bear_v     88
a_n                    bell_n    173
a_n                    best_a    159
a_n                    book_n     44
a_n                broadway_a     88
a_n                       c_n     55
a_n                 cassell_n    194
a_n                 chapter_n     43
a_n                  chorus_n     88
a_n                 classic_a    100
a_n                colonial_n     42
a_n                  county_n    100
a_n                  desire_n    200
a_n                 edition_n     42
a_n                 imprint_v    194
a_n           international_a    173
a_n                     let_v     55
a_n                    line_n     88
a_n                     man_n     43
a_n               microfilm_n    173
a_n                 musical_a     88
a_n                    name_v    290
a_n                     net_a     42
a_n                      on_v      9
a_n                original_a     88
a_n                     out_v     43
a_n                 present_v    408
...                       ...    ...
zoning_n           practice_n    217
zoning_n         previously_r     66
zoning_n            profile_n    115
zoning_n           properly_r    123
zoning_n         reasonable_a     50
zoning_n             refine_v     57
zoning_n         regulation_n     49
zoning_n            require_v    123
zoning_n             should_v    100
zoning_n              space_n     49
zoning_n               such_a    106
zoning_n            sustain_v     66
zoning_n               take_v     40
zoning_n                use_v     58
zoological_n             be_v    471
zoological_n           have_v    257
zoological_n            new_n    728
zoological_n           park_n    345
zoological_n        society_n    383
zoological_n           york_n    728
zoom_n                 also_r     57
zoom_n                   be_v     69
zoom_n                  can_v    126
zoom_n                 lens_n    126
zurich_n          agreement_n     44
zurich_n                 be_v     44
zurich_n            finally_r     44
zurich_n         government_n     42
zurich_n                put_v     42
zurich_n            strauss_n     42

[330881 rows x 2 columns]

In [59]:
modifier_counts=modifiers.groupby(['modifier'])['count'].sum().to_frame()
modifier_counts.columns=['modifier_count']
modifier_counts

                modifier_count
modifier
a_n                       6326
aa_n                      2571
aaa_n                      147
aaron_n                   6724
ab_n                      1514
aba_n                     2560
ababa_n                    224
abatement_n               2076
abbe_n                     252
abbey_n                    831
abbot_n                   1833
abbreviation_n             144
abc_n                      411
abdul_n                   1448
abe_n                     5296
abel_n                     384
aberdeen_n                 162
abigail_n                  511
ability_n                 8944
ablation_n                 236
abner_n                    891
abode_n                    168
abolition_n               2088
abolitionist_n            4248
aboriginal_n              5648
abortion_n               34878
abraham_n                67690
abram_n                   1024
abrasion_n                 950
abscess_n                  592
...                        ...
yes_n                     4280
yesterday_n               7485
yew_n                      504
yield_n                  19029
yogurt_n                   792
yolk_n                    1023
york_n                 1239285
young_n                  10805
younger_n                  216
yours_n                  28280
youth_n                   9459
yr_n                      2208
z_n                       6580
zachary_n                 3073
zealand_n                15070
zebra_n                    900
zechariah_n                340
zen_n                      730
zero_n                     180
zimbabwe_n                1224
zinc_n                   10447
zion_n                    3704
zionist_n                 3546
zip_n                     4331
zipper_n                   392
zone_n                   14323
zoning_n                  5158
zoological_n              2912
zoom_n                     378
zurich_n                   258

[9271 rows x 1 columns]

In [60]:
compounds=pd.read_csv("compounds.csv",sep="\t",header=None,usecols=[1,2,3,5])
compounds.columns=["modifier","head","context","count"]
compounds=compounds=compounds.groupby(['modifier','head','context'])['count'].sum().to_frame()
compounds.reset_index(inplace=True)
compounds=compounds.loc[~(compounds.modifier.isin(new_modifiers)&compounds['head'].isin(new_modifiers))]
compounds=compounds.loc[compounds.modifier!=compounds['head']]

compounds['compound']=compounds['modifier'].str[:-2]+" "+compounds['head'].str[:-2]
#compounds['NER']=np.vectorize(ner_checker)(compounds['compound'])
compounds.set_index(['modifier','head'],inplace=True)
compounds

                                   context  count            compound
modifier     head
a_n          bell_n        international_a    173              a bell
             bell_n            microfilm_n    173              a bell
             bell_n           university_n    173              a bell
             c_n                       b_n     55                 a c
             c_n                      be_v     55                 a c
             c_n                     let_v     55                 a c
             cassell_n             house_n    106           a cassell
             cassell_n           imprint_v    194           a cassell
             cassell_n             press_n     88           a cassell
             cassell_n        university_n     44           a cassell
             cassell_n        wellington_n    150           a cassell
             chorus_n           broadway_a     88            a chorus
             chorus_n               line_n     88            a chorus
             chorus_n            musical_a     88            a chorus
             colonial_n               be_v     42          a colonial
             colonial_n          edition_n     42          a colonial
             colonial_n              net_a     42          a colonial
             man_n               chapter_n     43               a man
             man_n                   out_v     43               a man
             man_n                     v_n     43               a man
             publisher_n            best_a    159         a publisher
             publisher_n            book_n    159         a publisher
             publisher_n          weekly_r    159         a publisher
             sand_n              almanac_n    100              a sand
             sand_n              classic_a    100              a sand
             sand_n               county_n    100              a sand
             series_n            present_v    408            a series
             series_n            science_n    408            a series
             series_n             series_n    408            a series
             star_n                   be_v     88              a star
...                                    ...    ...                 ...
zoning_n     practice_n        challenge_v     73     zoning practice
             practice_n     exclusionary_a    146     zoning practice
             practice_n             must_v    217     zoning practice
             practice_n         specific_a     71     zoning practice
             profile_n               can_v     57      zoning profile
             profile_n          chemical_a     58      zoning profile
             profile_n          detailed_a    115      zoning profile
             profile_n            refine_v     57      zoning profile
             profile_n               use_v     58      zoning profile
             regulation_n          local_a     49   zoning regulation
             regulation_n        require_v     49   zoning regulation
             regulation_n          space_n     49   zoning regulation
zoological_n park_n                   be_v    297     zoological park
             park_n                 have_v     48     zoological park
             park_n                  new_n    345     zoological park
             park_n                 york_n    345     zoological park
             society_n                be_v    174  zoological society
             society_n              have_v    209  zoological society
             society_n               new_n    383  zoological society
             society_n              york_n    383  zoological society
zoom_n       lens_n                 also_r     57           zoom lens
             lens_n                   be_v    126           zoom lens
             lens_n                  can_v    126           zoom lens
             lens_n                  use_v     69           zoom lens
zurich_n     agreement_n              be_v     44    zurich agreement
             agreement_n        complete_v     44    zurich agreement
             agreement_n         finally_r     44    zurich agreement
             government_n        forward_r     42   zurich government
             government_n            put_v     42   zurich government
             government_n        strauss_n     42   zurich government

[507425 rows x 3 columns]

In [61]:
compound_counts=compounds.groupby(['modifier','head'])['count'].sum().to_frame()
compound_counts.columns=['compound_count']
compound_counts

                            compound_count
modifier     head
a_n          bell_n                    519
             c_n                       165
             cassell_n                 582
             chorus_n                  264
             colonial_n                126
             man_n                     129
             publisher_n               477
             sand_n                    300
             series_n                 1224
             star_n                    264
             streetcar_n               870
             y_n                        27
aa_n         group_n                  1260
             name_n                   1311
aaa_n        study_n                   147
aaron_n      burr_n                   5034
             douglas_n                 357
             presley_n                 171
             smith_n                   219
             spark_n                   171
             stark_n                   135
ab_n         blood_n                   501
             cd_n                      141
             people_n                  273
             performance_n             195
             tract_n                   126
aba_n        advisory_n                378
             antitrust_n               165
             canon_n                   186
             model_n                   411
...                                    ...
zipper_n     bag_n                     336
zone_n       academy_n                 369
             act_n                     291
             b_n                      1032
             color_n                   465
             commander_n               498
             concept_n                 162
             criterion_n               336
             d_n                       189
             government_n              285
             ii_n                      168
             lymphoma_n                147
             management_n             5169
             product_n                 138
             size_n                   1398
             temperature_n             180
             treaty_n                  126
zoning_n     authority_n               369
             commission_n              120
             interest_n                327
             law_n                     198
             ordinance_n              2043
             practice_n                651
             profile_n                 345
             regulation_n              147
zoological_n park_n                   1035
             society_n                1149
zoom_n       lens_n                    378
zurich_n     agreement_n               132
             government_n              126

[78143 rows x 1 columns]

In [62]:
information_feat=compound_counts
information_feat.columns=['a']
X_star=compounds.groupby(['modifier'])['count'].sum().to_frame()
X_star.columns=['x_star']
Y_star=compounds.groupby(['head'])['count'].sum().to_frame()
Y_star.columns=['star_y']
information_feat=pd.merge(information_feat.reset_index(),X_star.reset_index(),on=['modifier'])
information_feat=pd.merge(information_feat,Y_star.reset_index(),on=['head'])
information_feat['b']=information_feat['x_star']-information_feat['a']
information_feat['c']=information_feat['star_y']-information_feat['a']
information_feat['N']=compound_counts.sum()[0]
information_feat['d']=information_feat['N']-(information_feat['a']+information_feat['b']+information_feat['c'])
information_feat['x_bar_star']=information_feat['N']-information_feat['x_star']
information_feat['star_y_bar']=information_feat['N']-information_feat['star_y']
information_feat.set_index(['modifier','head'],inplace=True)
information_feat.replace(0,0.001,inplace=True)
information_feat['log_ratio']=2*(information_feat['a']*np.log((information_feat['a']*information_feat['N'])/(information_feat['x_star']*information_feat['star_y']))+\
information_feat['b']*np.log((information_feat['b']*information_feat['N'])/(information_feat['x_star']*information_feat['star_y_bar']))+\
information_feat['c']*np.log((information_feat['c']*information_feat['N'])/(information_feat['x_bar_star']*information_feat['star_y']))+\
information_feat['d']*np.log((information_feat['d']*information_feat['N'])/(information_feat['x_bar_star']*information_feat['star_y_bar'])))
information_feat['ppmi']=np.log2((information_feat['a']*information_feat['N'])/(information_feat['x_star']*information_feat['star_y']))
information_feat['local_mi']=information_feat['a']*information_feat['ppmi']
information_feat.ppmi.loc[information_feat.ppmi<=0]=0
information_feat.drop(['a','x_star','star_y','b','c','d','N','d','x_bar_star','star_y_bar'],axis=1,inplace=True)
information_feat

                             log_ratio   ppmi  local_mi
modifier     head
a_n          bell_n           5378.361  8.823  4579.386
alarm_n      bell_n          42169.085  9.950 34475.197
alice_n      bell_n           2123.495  9.189  1791.797
anne_n       bell_n            970.274  6.480   894.268
baby_n       bell_n            850.718  4.977   850.987
bedroom_n    bell_n            906.043  6.722   826.820
brass_n      bell_n           2799.953  7.924  2448.612
canterbury_n bell_n           1323.286  8.761  1130.172
castle_n     bell_n           1444.815  7.009  1303.627
chapel_n     bell_n           3560.192  9.252  2997.583
charles_n    bell_n           5466.993  5.637  5225.541
christ_n     bell_n            505.691  3.990   550.593
church_n     bell_n          66371.771  8.352 55902.285
city_n       bell_n            473.854  2.672   625.270
clock_n      bell_n           1794.575  7.157  1610.228
courthouse_n bell_n           2712.974 12.076  1956.349
deer_n       bell_n           1188.174  8.516  1021.861
door_n       bell_n           3967.259  8.239  3435.576
elli_n       bell_n          11663.087 10.779  9345.807
engine_n     bell_n           1537.083  6.922  1391.310
fire_n       bell_n            513.932  4.306   542.575
funeral_n    bell_n            927.995  5.868   880.133
graham_n     bell_n          80187.132 11.915 59084.346
griffin_n    bell_n          10762.400 12.076  7752.938
house_n      bell_n           1053.084  4.167  1125.108
john_n       bell_n           1828.594  3.189  2191.136
johnny_n     bell_n          10411.323 10.263  8497.690
julia_n      bell_n           8176.691 11.510  6318.868
lake_n       bell_n            379.019  2.938   475.964
laura_n      bell_n           1364.476  8.359  1178.669
...                                ...    ...       ...
worldwide_n  tanker_n         6903.933 16.137  4937.983
writer_n     ridicule_n       8152.935 12.550  5873.360
             rr_n             6478.769 12.550  4668.568
wto_n        appellate_n      8354.976 16.401  5953.469
             ministerial_n    3564.608 16.401  2558.515
x_n          grantee_n       11719.599 11.172  8446.157
xp_n         adrienne_n       4197.498 13.442  3024.546
yale_n       prom_n           3273.558 14.039  2358.583
yankee_n     more_n           2857.487 16.298  2053.543
             peddler_n        4500.404 16.298  3226.996
year_n       attila_n         1585.482  9.077  1143.650
             biologist_n      1623.234  9.077  1170.880
             dispensation_n   4681.391  9.077  3376.491
             excavation_n     1963.003  9.077  1415.948
             hannibal_n       1585.482  9.077  1143.650
             profusion_n      3850.729  9.077  2777.436
             sociologist_n    3397.657  9.077  2450.679
             wisconsin_n      3284.390  9.077  2368.989
yield_n      harvesting_n    16662.801 12.802 11982.338
york_n       chichester_n     4202.307  7.017  3031.202
             cop_n            4143.939  7.017  2989.102
             crc_n            4552.519  7.017  3283.802
             debut_n          3793.730  7.017  2736.502
             flyer_n          1400.711  7.017  1010.401
             philharmonic_n   4348.229  7.017  3136.452
             rudy_n           2626.388  7.017  1894.501
young_n      eva_n            2799.487 13.726  2017.694
             hanover_n        4802.093 13.726  3458.904
zealand_n    spinach_n        4462.365 13.397  3215.266
zebra_n      regency_n        3967.091 17.476  2831.064

[78143 rows x 3 columns]

In [63]:
information_feat.describe()

         log_ratio      ppmi     local_mi
count    78143.000 78143.000    78143.000
mean     13873.818     6.909    10926.867
std     198083.945     4.014   126064.993
min          0.000     0.000   -22997.543
25%        956.022     3.922      944.180
50%       2311.664     6.720     2001.628
75%       5751.565     9.638     4867.354
max   42809567.691    19.968 25489354.556

In [64]:
new_modifiers=modifiers.groupby(['modifier','context'])['count'].sum().to_frame()
new_modifiers.columns=['a']
mod_star=modifiers.groupby(['modifier'])['count'].sum().to_frame()
mod_star.columns=['mod_star']
context_star=modifiers.groupby(['context'])['count'].sum().to_frame()
context_star.columns=['context_star']
merge1=pd.merge(new_modifiers.reset_index(),mod_star.reset_index(),on=['modifier'])
new_modifiers=pd.merge(merge1,context_star.reset_index(),on=['context'])
new_modifiers['N']=new_modifiers['a'].sum()
new_modifiers['modifier_ppmi']=np.log2((new_modifiers['a']*new_modifiers['N'])/(new_modifiers['mod_star']*new_modifiers['context_star']**0.75))
new_modifiers.set_index(['modifier'],inplace=True)
new_modifiers.drop(['a','mod_star','context_star','N'],axis=1,inplace=True)
new_modifiers.modifier_ppmi.loc[new_modifiers.modifier_ppmi<=0]=0
new_modifiers

                       context  modifier_ppmi
modifier
a_n                  almanac_n         12.782
adam_n               almanac_n         10.748
almanac_n            almanac_n         12.156
county_n             almanac_n          9.637
data_n               almanac_n          7.221
employment_n         almanac_n          7.459
job_n                almanac_n          7.538
letter_n             almanac_n          9.402
pennsylvania_n       almanac_n         11.757
publishing_n         almanac_n         12.487
world_n              almanac_n          7.203
a_n                        b_n          8.664
activity_n                 b_n          8.005
all_n                      b_n          9.345
angle_n                    b_n          8.332
annex_n                    b_n         12.920
appendix_n                 b_n         11.748
arch_n                     b_n          6.861
attribute_n                b_n          9.627
b_n                        b_n          8.290
barr_n                     b_n          9.253
base_n                     b_n          4.446
behavior_n                 b_n          7.192
bi_n                       b_n         13.510
biochem_n                  b_n         12.009
blood_n                    b_n          3.052
bone_n                     b_n          3.864
burger_n                   b_n         11.152
c_n                        b_n          9.768
calendar_n                 b_n          6.619
...                        ...            ...
york_n               bigoted_a          8.466
york_n              brisbane_n          8.697
york_n            chichester_n          8.697
york_n          correctional_a          8.836
york_n                 debut_n          8.660
york_n             defensive_a          8.362
york_n                   dub_v          8.252
york_n            experiment_v          8.261
york_n                 flyer_n          8.300
york_n                harlem_n          8.452
york_n            irrational_a          8.252
york_n              pentagon_n          8.502
york_n          philharmonic_n          8.709
york_n                plague_v          8.269
york_n                secede_v          8.699
york_n             shorthand_n          8.243
york_n                   sip_v          8.322
york_n                  slum_a          8.285
york_n                 stone_v          8.252
young_n             aggrieve_v         15.273
young_n                blest_a         15.085
young_n                   cy_n         15.127
young_n              hanover_n         15.344
young_n                shade_v         15.278
youth_n               addict_v         15.390
youth_n          frustrating_a         15.965
zealand_n            spinach_n         14.846
zealand_n        superintend_v         14.662
zebra_n              regency_n         18.770
zipper_n                 tan_a         19.982

[330881 rows x 2 columns]

In [65]:
new_heads=heads.groupby(['head','context'])['count'].sum().to_frame()
new_heads.columns=['a']
head_star=heads.groupby(['head'])['count'].sum().to_frame()
head_star.columns=['head_star']
context_star=heads.groupby(['context'])['count'].sum().to_frame()
context_star.columns=['context_star']
merge1=pd.merge(new_heads.reset_index(),head_star.reset_index(),on=['head'])
new_heads=pd.merge(merge1,context_star.reset_index(),on=['context'])
new_heads['N']=new_heads['a'].sum()
new_heads['head_ppmi']=np.log2((new_heads['a']*new_heads['N'])/(new_heads['head_star']*new_heads['context_star']**0.75))
new_heads.set_index(['head'],inplace=True)
new_heads.drop(['a','head_star','context_star','N'],axis=1,inplace=True)
new_heads.head_ppmi.loc[new_heads.head_ppmi<=0]=0
new_heads

                       context  head_ppmi
head
a_n                  abridge_v      9.208
certificate_n        abridge_v     10.567
congress_n           abridge_v      8.340
freedom_n            abridge_v     13.575
interest_n           abridge_v      7.570
matter_n             abridge_v      9.490
right_n              abridge_v      8.134
state_n              abridge_v      3.836
a_n                 abstract_n     11.966
b_n                 abstract_n      8.631
class_n             abstract_n      9.265
idea_n              abstract_n     12.727
injury_n            abstract_n      7.637
number_n            abstract_n      8.212
office_n            abstract_n      6.644
reasoning_n         abstract_n     15.678
result_n            abstract_n      6.875
rule_n              abstract_n      7.458
science_n           abstract_n      7.903
service_n           abstract_n      6.118
statistic_n         abstract_n     12.099
type_n              abstract_n      8.649
a_n               accredited_a      9.237
association_n     accredited_a      8.053
college_n         accredited_a     10.764
envoy_n           accredited_a     17.186
owner_n           accredited_a     12.324
school_n          accredited_a      9.259
science_n         accredited_a      9.117
service_n         accredited_a      6.913
...                        ...        ...
xi_n                  sforza_n     15.633
xiv_n            embroidered_a     14.795
xiv_n                  genoa_n     15.097
y_n               admittance_n     16.987
year_n                condor_n     11.295
year_n                 pepys_n     11.871
year_n                 shoot_n     11.496
yesterday_n          apology_n     16.056
yesterday_n         mournful_a     15.926
yield_n            irrigated_a     14.910
yield_n                 salt_a     15.428
york_n                accent_n      8.543
york_n            advertiser_n      8.984
york_n                armory_n      8.781
york_n            birthplace_n      8.568
york_n              blockade_v      9.103
york_n               booming_a      8.753
york_n            councilman_n      8.598
york_n               crowell_n      9.026
york_n               grilled_a      8.763
york_n              marathon_n      9.096
york_n                 mario_n      9.429
york_n                 mogul_n      8.714
york_n              montreal_n      8.605
york_n                    pp_v      9.250
york_n                  rudy_n      9.168
york_n                waiter_n      8.535
york_n                yorker_n      8.749
young_n                 iris_n     15.899
zone_n         morphological_a     13.549

[380374 rows x 2 columns]

In [66]:
new_compounds=compounds.groupby(['modifier','head','context'])['count'].sum().to_frame()
new_compounds.columns=['a']
compound_star=compounds.groupby(['modifier','head'])['count'].sum().to_frame()
compound_star.columns=['compound_star']
context_star=compounds.groupby(['context'])['count'].sum().to_frame()
context_star.columns=['context_star']
new_compounds=pd.merge(new_compounds.reset_index(),compound_star.reset_index(),on=['modifier','head'])
new_compounds=pd.merge(new_compounds,context_star.reset_index(),on=['context'])
new_compounds['N']=new_compounds['a'].sum()
new_compounds['compound_ppmi']=np.log2((new_compounds['a']*new_compounds['N'])/(new_compounds['compound_star']*new_compounds['context_star']**0.75))
new_compounds.set_index(['modifier','head'],inplace=True)
new_compounds.drop(['a','compound_star','context_star','N'],axis=1,inplace=True)
new_compounds.compound_ppmi.loc[new_compounds.compound_ppmi<=0]=0
new_compounds

                                     context  compound_ppmi
modifier      head
a_n           bell_n         international_a         13.227
academic_n    advisory_n     international_a         13.227
accounting_n  standard_n     international_a          8.200
acquisition_n workshop_n     international_a         13.227
aid_n         agency_n       international_a          8.578
air_n         navigation_n   international_a         12.764
              service_n      international_a         11.441
              transport_n    international_a         10.742
arbitral_n    institution_n  international_a         13.227
arbitration_n agreement_n    international_a          8.043
arm_n         trade_n        international_a         13.227
armistice_n   commission_n   international_a          8.542
arrest_n      warrant_n      international_a          8.346
art_n         education_n    international_a          9.107
atmosphere_n  research_n     international_a         13.227
ballantine_n  book_n         international_a         12.545
bank_n        lending_n      international_a         11.642
banking_n     system_n       international_a          6.184
black_n       hill_n         international_a         11.141
bone_n        marrow_n       international_a          4.611
book_n        search_n       international_a         13.227
              series_n       international_a          7.871
boundary_n    land_n         international_a         13.227
              road_n         international_a         13.227
brand_n       recognition_n  international_a         13.227
bretton_n     wood_n         international_a         12.018
business_n    activity_n     international_a          8.131
              perspective_n  international_a         13.227
              practice_n     international_a         10.769
              series_n       international_a         13.227
...                                      ...            ...
wyoming_n     stock_n               grower_n         20.824
x_n           file_n                 eater_n         20.397
              height_n       parallelogram_n         18.532
              ray_n                    tem_n         15.082
              y_n                        z_v         19.415
yankee_n      jim_n              wherefore_r         21.101
              league_n            audacity_n         18.952
year_n        book_n                   law_a         15.719
              chartres_n           pilgrim_n         20.859
              mark_n                tucker_n         20.118
              poet_n                 weary_v         21.195
yeast_n       infection_n             jock_n         20.740
yesterday_n   afternoon_n           stroll_n         18.243
york_n        banker_n                 sip_v         19.386
              chichester_n        brisbane_n         19.912
              city_n            experiment_v          9.268
              city_n                harlem_n          9.458
              city_n                  slum_a          9.292
              hamilton_n             stone_v         21.245
              state_n         correctional_a         12.490
              state_n            shorthand_n         11.897
              time_n                   dub_v         10.851
              time_n              pentagon_n         11.101
young_n       award_n                   cy_n         21.147
              commission_n          hilton_n         21.147
              day_n                  shade_v         20.693
              green_n                blest_a         21.271
              jerry_n        superstitious_a         19.051
youth_n       sexuality_n      frustrating_a         19.208
zipper_n      bag_n                    tan_a         19.934

[507425 rows x 2 columns]

In [68]:
modifier_denom=new_modifiers.groupby(['modifier'])['modifier_ppmi'].agg(lambda x: np.sqrt(np.sum(np.square(x)))).to_frame()
modifier_denom.columns=['modifier_denom']
modifier_denom

                modifier_denom
modifier
a_n                     77.354
aa_n                    27.615
aaa_n                   25.453
aaron_n                 62.945
ab_n                    50.903
aba_n                   49.411
ababa_n                 28.419
abatement_n             33.624
abbe_n                  24.109
abbey_n                 33.385
abbot_n                 50.560
abbreviation_n          26.461
abc_n                   33.959
abdul_n                 47.532
abe_n                   34.624
abel_n                  37.088
aberdeen_n              20.846
abigail_n               34.576
ability_n               62.489
ablation_n              22.556
abner_n                 33.670
abode_n                 30.814
abolition_n             44.726
abolitionist_n          57.554
aboriginal_n            44.194
abortion_n              71.996
abraham_n               88.421
abram_n                 37.871
abrasion_n              32.578
abscess_n               36.899
...                        ...
yes_n                   28.417
yesterday_n             72.497
yew_n                   38.220
yield_n                 73.442
yogurt_n                37.154
yolk_n                  26.083
york_n                 142.458
young_n                 98.155
younger_n               26.373
yours_n                 35.740
youth_n                 79.955
yr_n                    33.523
z_n                     54.863
zachary_n               35.404
zealand_n               66.949
zebra_n                 53.248
zechariah_n             31.431
zen_n                   37.622
zero_n                  25.628
zimbabwe_n              29.308
zinc_n                  68.186
zion_n                  40.175
zionist_n               45.657
zip_n                   48.061
zipper_n                28.136
zone_n                  78.668
zoning_n                65.616
zoological_n            25.009
zoom_n                  21.468
zurich_n                31.970

[9271 rows x 1 columns]

In [69]:
head_denom=new_heads.groupby(['head'])['head_ppmi'].agg(lambda x: np.sqrt(np.sum(np.square(x)))).to_frame()
head_denom.columns=['head_denom']
head_denom

                head_denom
head
a_n                119.832
aa_n                32.724
aaron_n             39.766
ab_n                67.987
ababa_n             38.792
abandonment_n       18.500
abatement_n         27.165
abba_n              25.134
abbas_n             33.879
abbess_n            27.137
abbey_n             55.576
abbot_n             40.047
abbott_n            46.347
abbreviation_n      45.026
abc_n               38.174
abdul_n             47.191
abdullah_n          29.467
abe_n               43.573
abelard_n           29.392
aberdeen_n          43.901
aberration_n        32.421
abigail_n           50.712
ability_n           64.927
ablation_n          45.162
abnormality_n       80.550
abolition_n         33.275
abortion_n          57.120
abraham_n           77.602
abrams_n            39.385
abroad_n            34.760
...                    ...
yearbook_n          25.785
yeats_n             41.541
yell_n              32.604
yeltsin_n           37.361
yeoman_n            36.252
yes_n               28.621
yesterday_n         74.870
yi_n                33.410
yield_n             94.424
yonder_n            46.136
york_n             164.624
yorker_n            38.075
yorkers_n           46.349
young_n             84.378
yours_n             49.148
youth_n             79.917
yuan_n              52.086
yugoslavia_n        23.073
z_n                 57.077
zachary_n           44.056
zanzibar_n          25.163
zeal_n              36.902
zealand_n           90.787
zealot_n            23.382
zimbabwe_n          34.387
zimmerman_n         25.708
zion_n              43.759
zionist_n           22.838
zip_n               35.856
zone_n             106.028

[9987 rows x 1 columns]

In [70]:
compound_denom=new_compounds.groupby(['modifier','head'])['compound_ppmi'].agg(lambda x: np.sqrt(np.sum(np.square(x)))).to_frame()
compound_denom.columns=['compound_denom']
compound_denom

                            compound_denom
modifier     head
a_n          bell_n                 27.114
             c_n                    21.745
             cassell_n              33.788
             chorus_n               29.180
             colonial_n             21.125
             man_n                  28.819
             publisher_n            26.288
             sand_n                 28.849
             series_n               24.723
             star_n                 20.248
             streetcar_n            35.225
             y_n                    21.809
aa_n         group_n                27.225
             name_n                 22.332
aaa_n        study_n                29.614
aaron_n      burr_n                 50.396
             douglas_n              25.274
             presley_n              25.011
             smith_n                26.890
             spark_n                18.082
             stark_n                25.747
ab_n         blood_n                28.700
             cd_n                   25.962
             people_n               27.116
             performance_n          26.618
             tract_n                28.925
aba_n        advisory_n             22.257
             antitrust_n            22.974
             canon_n                30.422
             model_n                21.086
...                                    ...
zipper_n     bag_n                  27.093
zone_n       academy_n              25.760
             act_n                  20.667
             b_n                    30.575
             color_n                34.120
             commander_n            30.005
             concept_n              21.830
             criterion_n            24.156
             d_n                    17.875
             government_n           31.398
             ii_n                   29.416
             lymphoma_n             29.335
             management_n           40.834
             product_n              19.010
             size_n                 41.224
             temperature_n          20.597
             treaty_n               23.410
zoning_n     authority_n            24.985
             commission_n           22.466
             interest_n             22.023
             law_n                  24.961
             ordinance_n            47.892
             practice_n             31.770
             profile_n              30.335
             regulation_n           23.504
zoological_n park_n                 18.185
             society_n              18.550
zoom_n       lens_n                 17.667
zurich_n     agreement_n            21.826
             government_n           28.243

[78143 rows x 1 columns]

In [71]:
compound_modifier_sim=pd.merge(new_compounds.reset_index(),new_modifiers.reset_index(),on=["modifier","context"])
compound_modifier_sim['numerator']=compound_modifier_sim['compound_ppmi']*compound_modifier_sim['modifier_ppmi']
compound_modifier_sim=compound_modifier_sim.groupby(['modifier','head'])['numerator'].sum().to_frame()
compound_modifier_sim=pd.merge(compound_modifier_sim.reset_index(),compound_denom.reset_index(),on=["modifier","head"])
compound_modifier_sim=pd.merge(compound_modifier_sim,modifier_denom.reset_index(),on=['modifier'])
compound_modifier_sim['sim_with_modifier']=compound_modifier_sim['numerator']/(compound_modifier_sim['compound_denom']*compound_modifier_sim['modifier_denom'])
compound_modifier_sim.set_index(['modifier','head'],inplace=True)
compound_modifier_sim.drop(['numerator','compound_denom'],axis=1,inplace=True)
compound_modifier_sim

                            modifier_denom  sim_with_modifier
modifier     head
a_n          bell_n                 77.354              0.265
             c_n                    77.354              0.173
             cassell_n              77.354              0.291
             chorus_n               77.354              0.274
             colonial_n             77.354              0.152
             man_n                  77.354              0.245
             publisher_n            77.354              0.249
             sand_n                 77.354              0.274
             series_n               77.354              0.271
             star_n                 77.354              0.180
             streetcar_n            77.354              0.362
             y_n                    77.354              0.139
aa_n         group_n                27.615              0.610
             name_n                 27.615              0.744
aaa_n        study_n                25.453              0.608
aaron_n      burr_n                 62.945              0.535
             douglas_n              62.945              0.223
             presley_n              62.945              0.287
             smith_n                62.945              0.318
             spark_n                62.945              0.196
             stark_n                62.945              0.287
ab_n         blood_n                50.903              0.528
             cd_n                   50.903              0.399
             people_n               50.903              0.287
             performance_n          50.903              0.415
             tract_n                50.903              0.426
aba_n        advisory_n             49.411              0.372
             antitrust_n            49.411              0.365
             canon_n                49.411              0.477
             model_n                49.411              0.353
...                                    ...                ...
zipper_n     bag_n                  28.136              0.684
zone_n       academy_n              78.668              0.200
             act_n                  78.668              0.166
             b_n                    78.668              0.292
             color_n                78.668              0.322
             commander_n            78.668              0.152
             concept_n              78.668              0.168
             criterion_n            78.668              0.191
             d_n                    78.668              0.062
             government_n           78.668              0.241
             ii_n                   78.668              0.224
             lymphoma_n             78.668              0.271
             management_n           78.668              0.457
             product_n              78.668              0.147
             size_n                 78.668              0.358
             temperature_n          78.668              0.156
             treaty_n               78.668              0.184
zoning_n     authority_n            65.616              0.201
             commission_n           65.616              0.124
             interest_n             65.616              0.124
             law_n                  65.616              0.276
             ordinance_n            65.616              0.547
             practice_n             65.616              0.341
             profile_n              65.616              0.348
             regulation_n           65.616              0.236
zoological_n park_n                 25.009              0.708
             society_n              25.009              0.709
zoom_n       lens_n                 21.468              0.594
zurich_n     agreement_n            31.970              0.381
             government_n           31.970              0.602

[77993 rows x 2 columns]

In [73]:
compound_head_sim=pd.merge(new_compounds.reset_index(),new_heads.reset_index(),on=["head","context"])

compound_head_sim['numerator']=compound_head_sim['compound_ppmi']*compound_head_sim['head_ppmi']
compound_head_sim=compound_head_sim.groupby(['modifier','head'])['numerator'].sum().to_frame()
compound_head_sim=pd.merge(compound_head_sim.reset_index(),compound_denom.reset_index(),on=["modifier","head"])
compound_head_sim=pd.merge(compound_head_sim,head_denom.reset_index(),on=['head'])
compound_head_sim['sim_with_head']=compound_head_sim['numerator']/(compound_head_sim['compound_denom']*compound_head_sim['head_denom'])
compound_head_sim.set_index(['modifier','head'],inplace=True)
compound_head_sim.drop(['numerator','compound_denom'],axis=1,inplace=True)
compound_head_sim

                             head_denom  sim_with_head
modifier     head
a_n          bell_n             116.903          0.106
alarm_n      bell_n             116.903          0.237
alice_n      bell_n             116.903          0.112
anne_n       bell_n             116.903          0.141
baby_n       bell_n             116.903          0.052
bedroom_n    bell_n             116.903          0.140
brass_n      bell_n             116.903          0.166
canterbury_n bell_n             116.903          0.101
castle_n     bell_n             116.903          0.124
chapel_n     bell_n             116.903          0.149
charles_n    bell_n             116.903          0.152
christ_n     bell_n             116.903          0.134
church_n     bell_n             116.903          0.370
city_n       bell_n             116.903          0.145
clock_n      bell_n             116.903          0.128
courthouse_n bell_n             116.903          0.118
deer_n       bell_n             116.903          0.108
door_n       bell_n             116.903          0.168
elli_n       bell_n             116.903          0.170
engine_n     bell_n             116.903          0.131
fire_n       bell_n             116.903          0.144
funeral_n    bell_n             116.903          0.136
graham_n     bell_n             116.903          0.248
griffin_n    bell_n             116.903          0.134
house_n      bell_n             116.903          0.114
john_n       bell_n             116.903          0.141
johnny_n     bell_n             116.903          0.198
julia_n      bell_n             116.903          0.148
lake_n       bell_n             116.903          0.078
laura_n      bell_n             116.903          0.096
...                                 ...            ...
york_n       premiere_n          24.976          0.791
world_n      reverence_n         17.887          0.818
             zionist_n           22.838          0.893
worldwide_n  tanker_n            31.701          0.828
writer_n     ridicule_n          24.370          0.781
             rr_n                31.908          0.876
x_n          grantee_n           32.449          0.902
yale_n       prom_n              26.587          0.783
yankee_n     more_n              33.206          0.840
             peddler_n           32.805          0.836
year_n       attila_n            29.433          0.908
             biologist_n         20.364          0.797
             dispensation_n      24.753          0.868
             excavation_n        19.638          0.779
             hannibal_n          24.734          0.866
             profusion_n         20.829          0.807
             sociologist_n       23.407          0.851
             wisconsin_n         27.306          0.893
yield_n      harvesting_n        24.552          0.572
york_n       chichester_n        29.384          0.928
             cop_n               25.847          0.907
             crc_n               21.442          0.861
             debut_n             24.764          0.898
             flyer_n             28.914          0.926
             philharmonic_n      25.591          0.905
             rudy_n              21.254          0.858
young_n      eva_n               27.038          0.670
             hanover_n           31.907          0.868
zealand_n    spinach_n           21.502          0.695
zebra_n      regency_n           32.858          0.818

[78011 rows x 2 columns]

In [76]:
constituent_sim=pd.merge(new_heads.reset_index(),new_compounds.reset_index(),on=["head","context"])
constituent_sim=pd.merge(constituent_sim,new_modifiers.reset_index(),on=["modifier","context"])
constituent_sim['numerator']=constituent_sim['head_ppmi']*constituent_sim['modifier_ppmi']
constituent_sim=constituent_sim.groupby(['modifier','head'])['numerator'].sum().to_frame()
constituent_sim=pd.merge(constituent_sim.reset_index(),head_denom.reset_index(),on=["head"])
constituent_sim=pd.merge(constituent_sim,modifier_denom.reset_index(),on=["modifier"])
constituent_sim['sim_bw_constituents']=constituent_sim['numerator']/(constituent_sim['head_denom']*constituent_sim['modifier_denom'])
constituent_sim.set_index(['modifier','head'],inplace=True)
constituent_sim.drop(['numerator','modifier_denom','head_denom'],axis=1,inplace=True)
constituent_sim

                           sim_bw_constituents
modifier    head
a_n         bell_n                       0.028
            c_n                          0.021
            cassell_n                    0.266
            chorus_n                     0.141
            colonial_n                   0.125
            man_n                        0.017
            publisher_n                  0.034
            sand_n                       0.058
            series_n                     0.024
            star_n                       0.018
            streetcar_n                  0.272
            y_n                          0.026
alarm_n     bell_n                       0.111
            rate_n                       0.040
            service_n                    0.007
            system_n                     0.035
            option_n                     0.044
            a_n                          0.023
            box_n                        0.011
            limit_n                      0.021
            barking_n                    0.087
            clock_n                      0.071
            fire_n                       0.029
            gun_n                        0.044
alice_n     bell_n                       0.043
            lee_n                        0.053
            egerton_n                    0.310
            montague_n                   0.064
            vane_n                       0.044
anne_n      bell_n                       0.014
...                                        ...
sinus_n     bradycardia_n                1.000
weller_n    dialect_n                    0.279
slant_n     sunbeam_n                    0.370
smoke_n     blackbird_n                  0.589
sri_n       aurobindo_n                  0.221
            lanka_n                      0.756
stamford_n  raffle_n                     0.753
stern_n     sloan_n                      0.663
stricture_n dilation_n                   0.630
stupidity_n galton_n                     0.482
surgical_n  papyrus_n                    0.578
swami_n     vivekananda_n                0.456
sweden_n    switzerland_n                0.736
syringe_n   plunger_n                    0.390
tel_n       aviv_n                       0.531
theodor_n   herzl_n                      0.562
thurston_n  peck_n                       0.579
wasp_n      sting_n                      0.232
tit_n       clutch_n                     0.602
ty_n        cobb_n                       0.575
tyranny_n   contempt_n                   0.350
utopia_n    postulate_n                  0.262
vena_n      cava_n                       0.927
verdict_n   loser_n                      0.351
vincent_n   plum_n                       0.651
vitality_n  subculture_n                 0.460
wendy_n     haley_n                      0.513
wentworth_n higginson_n                  0.568
wilcox_n    kitten_n                     0.195
wireless_n  telephony_n                  0.455

[77870 rows x 1 columns]

In [85]:
dfs = [constituent_sim.reset_index(), compound_head_sim.reset_index(), compound_modifier_sim.reset_index(), information_feat.reset_index()]
compounds_final = reduce(lambda left,right: pd.merge(left,right,on=['modifier','head']), dfs)
compounds_final.drop(['head_denom','modifier_denom'],axis=1,inplace=True)
compounds_final.set_index(['modifier','head'],inplace=True)
compounds_final.fillna(0,inplace=True)
compounds_final -= compounds_final.min()
compounds_final /= compounds_final.max()
compounds_final

                           sim_bw_constituents  sim_with_head  \
modifier    head
a_n         bell_n                       0.028          0.106
            c_n                          0.021          0.124
            cassell_n                    0.266          0.911
            chorus_n                     0.141          0.513
            colonial_n                   0.125          0.820
            man_n                        0.017          0.070
            publisher_n                  0.034          0.135
            sand_n                       0.058          0.209
            series_n                     0.024          0.089
            star_n                       0.018          0.101
            streetcar_n                  0.272          0.752
            y_n                          0.026          0.188
alarm_n     bell_n                       0.111          0.237
            rate_n                       0.040          0.118
            service_n                    0.007          0.061
            system_n                     0.035          0.098
            option_n                     0.044          0.163
            a_n                          0.023          0.128
            box_n                        0.011          0.045
            limit_n                      0.021          0.123
            barking_n                    0.087          0.814
            clock_n                      0.071          0.332
            fire_n                       0.029          0.118
            gun_n                        0.044          0.206
alice_n     bell_n                       0.043          0.112
            lee_n                        0.053          0.145
            egerton_n                    0.310          0.802
            montague_n                   0.064          0.221
            vane_n                       0.044          0.177
anne_n      bell_n                       0.014          0.141
...                                        ...            ...
sinus_n     bradycardia_n                1.000          1.000
weller_n    dialect_n                    0.279          0.437
slant_n     sunbeam_n                    0.370          0.782
smoke_n     blackbird_n                  0.589          0.845
sri_n       aurobindo_n                  0.221          0.907
            lanka_n                      0.756          0.985
stamford_n  raffle_n                     0.753          0.866
stern_n     sloan_n                      0.663          0.808
stricture_n dilation_n                   0.631          0.727
stupidity_n galton_n                     0.482          0.813
surgical_n  papyrus_n                    0.578          0.768
swami_n     vivekananda_n                0.456          0.856
sweden_n    switzerland_n                0.736          0.902
syringe_n   plunger_n                    0.390          0.739
tel_n       aviv_n                       0.531          0.885
theodor_n   herzl_n                      0.562          0.739
thurston_n  peck_n                       0.579          0.819
wasp_n      sting_n                      0.232          0.615
tit_n       clutch_n                     0.602          0.774
ty_n        cobb_n                       0.575          0.703
tyranny_n   contempt_n                   0.350          0.776
utopia_n    postulate_n                  0.262          0.468
vena_n      cava_n                       0.927          0.977
verdict_n   loser_n                      0.351          0.761
vincent_n   plum_n                       0.651          0.820
vitality_n  subculture_n                 0.460          0.729
wendy_n     haley_n                      0.514          0.848
wentworth_n higginson_n                  0.569          0.754
wilcox_n    kitten_n                     0.195          0.687
wireless_n  telephony_n                  0.455          0.602

                           sim_with_modifier  log_ratio  ppmi  local_mi
modifier    head
a_n         bell_n                     0.263      0.000 0.442     0.001
            c_n                        0.170      0.000 0.284     0.001
            cassell_n                  0.289      0.000 0.731     0.001
            chorus_n                   0.272      0.000 0.642     0.001
            colonial_n                 0.150      0.000 0.731     0.001
            man_n                      0.243      0.000 0.262     0.001
            publisher_n                0.247      0.000 0.406     0.001
            sand_n                     0.272      0.000 0.424     0.001
            series_n                   0.269      0.000 0.399     0.001
            star_n                     0.178      0.000 0.414     0.001
            streetcar_n                0.360      0.000 0.720     0.001
            y_n                        0.137      0.000 0.391     0.001
alarm_n     bell_n                     0.463      0.001 0.498     0.002
            rate_n                     0.334      0.000 0.135     0.001
            service_n                  0.069      0.000 0.042     0.001
            system_n                   0.325      0.000 0.198     0.001
            option_n                   0.268      0.000 0.371     0.001
            a_n                        0.186      0.000 0.216     0.001
            box_n                      0.235      0.000 0.071     0.001
            limit_n                    0.175      0.000 0.243     0.001
            barking_n                  0.099      0.000 0.651     0.001
            clock_n                    0.216      0.001 0.575     0.003
            fire_n                     0.230      0.000 0.247     0.001
            gun_n                      0.213      0.000 0.389     0.001
alice_n     bell_n                     0.375      0.000 0.460     0.001
            lee_n                      0.348      0.000 0.539     0.001
            egerton_n                  0.384      0.000 0.820     0.001
            montague_n                 0.286      0.000 0.617     0.001
            vane_n                     0.248      0.000 0.594     0.001
anne_n      bell_n                     0.111      0.000 0.325     0.001
...                                      ...        ...   ...       ...
sinus_n     bradycardia_n              1.000      0.000 0.912     0.001
weller_n    dialect_n                  0.647      0.000 0.855     0.001
slant_n     sunbeam_n                  0.459      0.000 0.949     0.001
smoke_n     blackbird_n                0.701      0.000 0.917     0.001
sri_n       aurobindo_n                0.242      0.001 0.666     0.002
            lanka_n                    0.772      0.005 0.666     0.007
stamford_n  raffle_n                   0.868      0.001 0.847     0.002
stern_n     sloan_n                    0.820      0.000 0.939     0.001
stricture_n dilation_n                 0.867      0.000 0.863     0.001
stupidity_n galton_n                   0.591      0.000 0.991     0.001
surgical_n  papyrus_n                  0.752      0.000 0.990     0.001
swami_n     vivekananda_n              0.532      0.000 0.871     0.001
sweden_n    switzerland_n              0.814      0.001 0.794     0.002
syringe_n   plunger_n                  0.527      0.000 0.978     0.001
tel_n       aviv_n                     0.600      0.000 0.822     0.001
theodor_n   herzl_n                    0.761      0.000 0.991     0.001
thurston_n  peck_n                     0.712      0.000 0.913     0.001
wasp_n      sting_n                    0.385      0.000 0.868     0.001
tit_n       clutch_n                   0.773      0.000 0.984     0.001
ty_n        cobb_n                     0.826      0.000 0.942     0.001
tyranny_n   contempt_n                 0.450      0.000 0.914     0.001
utopia_n    postulate_n                0.556      0.000 0.901     0.001
vena_n      cava_n                     0.947      0.023 0.555     0.026
verdict_n   loser_n                    0.459      0.000 0.993     0.001
vincent_n   plum_n                     0.793      0.000 0.995     0.001
vitality_n  subculture_n               0.631      0.000 0.940     0.001
wendy_n     haley_n                    0.604      0.000 0.993     0.001
wentworth_n higginson_n                0.753      0.000 0.990     0.001
wilcox_n    kitten_n                   0.283      0.000 0.939     0.001
wireless_n  telephony_n                0.749      0.000 0.991     0.001

[77870 rows x 6 columns]

In [86]:
graves13_study=pd.read_excel("13428_2012_256_MOESM1_ESM.xlsx",usecols=[0,1,2,3])
graves13_study['modifier'],graves13_study['head']=graves13_study['Stim'].str.split('-', 1).str
graves13_study['modifier']=np.vectorize(lemma_maker)(graves13_study['modifier'])
graves13_study['head']=np.vectorize(lemma_maker)(graves13_study['head'])
graves13_study.replace(replacements,inplace=True)
graves13_study['modifier']=graves13_study['modifier']+"_n"
graves13_study['head']=graves13_study['head']+"_n"
graves13_study.drop(["Stim"],axis=1,inplace=True)
graves13_study.set_index(['modifier','head'],inplace=True)
graves13_study

                           Class  Mean_rate    SD
modifier   head
bus_n      bridge_n     Positive      1.345 1.396
           window_n     Positive      3.828 0.539
           home_n       Positive      1.828 1.605
bike_n     pant_n       Positive      2.897 1.472
           barn_n       Positive      1.429 1.425
           leg_n        Positive      1.138 1.356
           home_n       Positive      1.483 1.595
           headlight_n  Positive      3.448 0.985
           seat_n       Positive      3.793 0.774
police_n   dog_n        Positive      4.000 0.000
           star_n       Positive      2.034 1.742
           car_n        Positive      4.000 0.000
           horse_n      Positive      3.690 0.806
           truck_n      Positive      3.724 0.528
           telephone_n  Positive      3.241 1.215
           radio_n      Positive      3.724 0.922
           bomb_n       Positive      2.586 1.500
           vehicle_n    Positive      4.000 0.000
           tape_n       Positive      3.655 0.974
           van_n        Positive      3.862 0.581
cab_n      car_n        Positive      2.966 1.295
           truck_n      Positive      1.345 1.203
           window_n     Positive      3.793 0.559
           home_n       Positive      1.724 1.533
sled_n     dog_n        Positive      3.552 0.948
chimp_n    mother_n     Positive      3.103 1.175
beach_n    sunset_n     Positive      3.310 1.228
           ball_n       Positive      4.000 0.000
           house_n      Positive      3.862 0.441
           sand_n       Positive      3.250 1.206
...                          ...        ...   ...
cave_n     mountain_n   Negative      1.786 1.287
winter_n   mountain_n   Negative      2.214 1.397
golf_n     mountain_n   Negative      1.107 1.166
lake_n     mountain_n   Negative      1.071 1.184
goat_n     mountain_n   Negative      1.786 1.475
road_n     mountain_n   Negative      0.857 1.113
meadow_n   mountain_n   Negative      1.286 1.243
building_n mountain_n   Negative      0.357 0.621
face_n     mountain_n   Negative      0.429 0.742
ear_n      elephant_n   Negative      0.786 0.876
boot_n     car_n        Negative      0.714 0.976
nut_n      car_n        Negative      0.714 1.084
window_n   car_n        Negative      1.071 0.900
home_n     car_n        Negative      1.536 1.427
radio_n    car_n        Negative      1.107 0.956
body_n     car_n        Negative      1.107 1.227
phone_n    car_n        Negative      0.964 1.401
bomb_n     car_n        Negative      1.500 1.552
magazine_n car_n        Negative      0.607 0.786
building_n car_n        Negative      0.786 1.067
plant_n    car_n        Negative      0.333 0.877
seat_n     car_n        Negative      1.214 1.343
engine_n   car_n        Negative      1.286 1.301
bed_n      stream_n     Negative      0.571 1.034
           ocean_n      Negative      0.786 1.031
water_n    ocean_n      Negative      1.179 1.156
swimming_n ocean_n      Negative      1.643 1.193
surf_n     ocean_n      Negative      1.000 0.943
house_n    milk_n       Negative      1.357 1.224
coffee_n   milk_n       Negative      2.036 1.374

[2160 rows x 3 columns]

In [87]:
compounds_final_graves=pd.merge(graves13_study.reset_index(),compounds_final.reset_index(),on=['modifier','head'])
#compounds_final.set_index(['modifier','head'],inplace=True)
compounds_final_graves.set_index(['modifier','head'],inplace=True)
compounds_final_graves

                            Class  Mean_rate    SD  sim_bw_constituents  \
modifier     head
police_n     car_n       Positive      4.000 0.000                0.047
             tape_n      Positive      3.655 0.974                0.009
cab_n        home_n      Positive      1.724 1.533                0.015
beach_n      sand_n      Positive      3.250 1.206                0.041
television_n picture_n   Positive      3.690 0.712                0.031
field_n      kitchen_n   Positive      0.793 1.177                0.016
             hospital_n  Positive      2.138 1.663                0.012
             mouse_n     Positive      3.621 1.147                0.026
             army_n      Positive      2.690 1.285                0.005
dog_n        book_n      Positive      2.517 1.661                0.005
water_n      tower_n     Positive      4.000 0.000                0.007
             pipe_n      Positive      3.724 0.882                0.038
pant_n       leg_n       Positive      2.828 1.513                0.188
cigarette_n  butt_n      Positive      3.724 0.882                0.030
             smoke_n     Positive      3.931 0.371                0.216
             money_n     Positive      3.034 1.426                0.013
fire_n       ant_n       Positive      3.483 1.184                0.040
             bell_n      Positive      3.069 1.334                0.015
             truck_n     Positive      3.862 0.743                0.009
             engine_n    Positive      3.793 0.620                0.040
automobile_n engine_n    Positive      4.000 0.000                0.011
star_n       field_n     Positive      1.310 1.514                0.016
blood_n      stream_n    Positive      3.517 1.153                0.013
             sugar_n     Positive      3.429 1.345                0.258
             alcohol_n   Positive      3.034 1.451                0.051
             money_n     Positive      2.276 1.601                0.004
mountain_n   bike_n      Positive      4.000 0.000                0.070
             stream_n    Positive      3.483 1.090                0.075
             lion_n      Positive      3.828 0.658                0.091
             forest_n    Positive      3.103 1.291                0.011
...                           ...        ...   ...                  ...
school_n     building_n  Positive      3.963 0.192                0.096
             book_n      Positive      3.857 0.591                0.006
grass_n      house_n     Positive      2.321 1.416                0.008
picture_n    book_n      Positive      3.929 0.262                0.039
crown_n      jewel_n     Positive      3.321 0.983                0.017
             prince_n    Positive      2.667 1.544                0.083
coffin_n     lid_n       Positive      3.750 0.701                0.273
cabin_n      boy_n       Positive      3.111 1.251                0.071
             window_n    Positive      3.929 0.262                0.042
             door_n      Positive      3.964 0.189                0.047
street_n     car_n       Positive      3.857 0.448                0.032
rib_n        cage_n      Positive      3.893 0.567                0.338
pendulum_n   clock_n     Positive      3.714 0.713                0.140
bible_n      school_n    Positive      3.821 0.390                0.025
army_n       hospital_n  Positive      3.714 0.713                0.008
witch_n      doctor_n    Positive      3.679 0.772                0.074
trash_n      bag_n       Positive      4.000 0.000                0.198
sleigh_n     bell_n      Positive      3.857 0.756                0.052
gold_n       leaf_n      Positive      3.630 0.926                0.007
bubble_n     gum_n       Positive      4.000 0.000                0.304
plant_n      water_n     Positive      2.429 1.526                0.007
chestnut_n   tree_n      Positive      3.964 0.189                0.050
face_n       mask_n      Positive      3.889 0.320                0.077
brick_n      building_n  Positive      4.000 0.000                0.175
shepherd_n   boy_n       Positive      3.679 0.819                0.100
sand_n       beach_n     Negative      2.679 1.249                0.072
mother_n     blood_n     Negative      0.571 0.879                0.018
pepper_n     lemon_n     Negative      1.143 1.177                0.332
ice_n        mountain_n  Negative      3.250 1.041                0.029
bed_n        stream_n    Negative      0.571 1.034                0.049

                         sim_with_head  sim_with_modifier  log_ratio  ppmi  \
modifier     head
police_n     car_n               0.363              0.125      0.000 0.315
             tape_n              0.213              0.036      0.000 0.181
cab_n        home_n              0.100              0.158      0.000 0.380
beach_n      sand_n              0.147              0.277      0.000 0.486
television_n picture_n           0.175              0.171      0.000 0.314
field_n      kitchen_n           0.255              0.061      0.000 0.324
             hospital_n          0.168              0.067      0.000 0.263
             mouse_n             0.379              0.065      0.000 0.291
             army_n              0.128              0.027      0.000 0.051
dog_n        book_n              0.033              0.167      0.000 0.102
water_n      tower_n             0.114              0.056      0.000 0.085
             pipe_n              0.347              0.107      0.000 0.269
pant_n       leg_n               0.239              0.786      0.000 0.786
cigarette_n  butt_n              0.187              0.161      0.000 0.512
             smoke_n             0.587              0.371      0.001 0.565
             money_n             0.086              0.133      0.000 0.125
fire_n       ant_n               0.348              0.115      0.000 0.478
             bell_n              0.144              0.091      0.000 0.216
             truck_n             0.185              0.053      0.000 0.397
             engine_n            0.222              0.164      0.000 0.333
automobile_n engine_n            0.100              0.098      0.000 0.234
star_n       field_n             0.116              0.138      0.000 0.321
blood_n      stream_n            0.143              0.087      0.000 0.078
             sugar_n             0.821              0.312      0.009 0.292
             alcohol_n           0.371              0.132      0.000 0.158
             money_n             0.071              0.037      0.000 0.000
mountain_n   bike_n              0.901              0.075      0.001 0.562
             stream_n            0.375              0.197      0.001 0.421
             lion_n              0.520              0.171      0.000 0.475
             forest_n            0.148              0.069      0.000 0.263
...                                ...                ...        ...   ...
school_n     building_n          0.470              0.201      0.004 0.252
             book_n              0.073              0.080      0.000 0.000
grass_n      house_n             0.081              0.081      0.000 0.305
picture_n    book_n              0.110              0.336      0.001 0.268
crown_n      jewel_n             0.204              0.081      0.000 0.478
             prince_n            0.292              0.283      0.000 0.548
coffin_n     lid_n               0.678              0.401      0.000 0.829
cabin_n      boy_n               0.207              0.330      0.000 0.538
             window_n            0.175              0.245      0.000 0.428
             door_n              0.215              0.220      0.000 0.404
street_n     car_n               0.227              0.136      0.000 0.364
rib_n        cage_n              0.548              0.684      0.000 0.838
pendulum_n   clock_n             0.206              0.683      0.000 0.658
bible_n      school_n            0.100              0.243      0.000 0.302
army_n       hospital_n          0.165              0.046      0.000 0.286
witch_n      doctor_n            0.178              0.410      0.000 0.538
trash_n      bag_n               0.283              0.714      0.000 0.666
sleigh_n     bell_n              0.116              0.455      0.000 0.605
gold_n       leaf_n              0.058              0.127      0.000 0.331
bubble_n     gum_n               0.797              0.376      0.000 0.781
plant_n      water_n             0.065              0.097      0.000 0.093
chestnut_n   tree_n              0.132              0.376      0.000 0.547
face_n       mask_n              0.397              0.188      0.001 0.604
brick_n      building_n          0.361              0.474      0.002 0.446
shepherd_n   boy_n               0.200              0.517      0.000 0.556
sand_n       beach_n             0.368              0.192      0.000 0.514
mother_n     blood_n             0.127              0.140      0.000 0.237
pepper_n     lemon_n             0.906              0.355      0.000 0.567
ice_n        mountain_n          0.180              0.151      0.000 0.197
bed_n        stream_n            0.188              0.254      0.000 0.353

                         local_mi
modifier     head
police_n     car_n          0.001
             tape_n         0.001
cab_n        home_n         0.001
beach_n      sand_n         0.001
television_n picture_n      0.001
field_n      kitchen_n      0.001
             hospital_n     0.001
             mouse_n        0.001
             army_n         0.001
dog_n        book_n         0.001
water_n      tower_n        0.001
             pipe_n         0.001
pant_n       leg_n          0.001
cigarette_n  butt_n         0.001
             smoke_n        0.003
             money_n        0.001
fire_n       ant_n          0.001
             bell_n         0.001
             truck_n        0.001
             engine_n       0.001
automobile_n engine_n       0.001
star_n       field_n        0.001
blood_n      stream_n       0.001
             sugar_n        0.012
             alcohol_n      0.001
             money_n        0.001
mountain_n   bike_n         0.002
             stream_n       0.002
             lion_n         0.001
             forest_n       0.001
...                           ...
school_n     building_n     0.007
             book_n         0.001
grass_n      house_n        0.001
picture_n    book_n         0.002
crown_n      jewel_n        0.001
             prince_n       0.002
coffin_n     lid_n          0.001
cabin_n      boy_n          0.002
             window_n       0.001
             door_n         0.001
street_n     car_n          0.001
rib_n        cage_n         0.001
pendulum_n   clock_n        0.001
bible_n      school_n       0.001
army_n       hospital_n     0.001
witch_n      doctor_n       0.001
trash_n      bag_n          0.001
sleigh_n     bell_n         0.001
gold_n       leaf_n         0.001
bubble_n     gum_n          0.001
plant_n      water_n        0.001
chestnut_n   tree_n         0.001
face_n       mask_n         0.002
brick_n      building_n     0.004
shepherd_n   boy_n          0.001
sand_n       beach_n        0.001
mother_n     blood_n        0.001
pepper_n     lemon_n        0.001
ice_n        mountain_n     0.001
bed_n        stream_n       0.001

[218 rows x 9 columns]

In [89]:
reddy11_study=pd.read_csv("ijcnlp_compositionality_data/MeanAndDeviations.clean.txt",sep="\t")
#print(reddy11_study.columns)
reddy11_study.columns=['compund','to_divide']
reddy11_study['modifier_mean'],reddy11_study['modifier_std'],reddy11_study['head_mean'],reddy11_study['head_std'],reddy11_study['compound_mean'],reddy11_study['compound_std'],_=reddy11_study.to_divide.str.split(" ",7).str
reddy11_study['modifier'],reddy11_study['head']=reddy11_study['compund'].str.split(" ",2).str
reddy11_study.modifier=reddy11_study.modifier.str[:-2]
reddy11_study['head']=reddy11_study['head'].str[:-2]
reddy11_study.drop(['compund','to_divide'],axis=1,inplace=True)
reddy11_study['modifier']=np.vectorize(lemma_maker)(reddy11_study['modifier'])
reddy11_study['head']=np.vectorize(lemma_maker)(reddy11_study['head'])
reddy11_study.replace(replacements,inplace=True)
reddy11_study['modifier']=reddy11_study['modifier']+"_n"
reddy11_study['head']=reddy11_study['head']+"_n"
reddy11_study

,modifier_mean,modifier_std,head_mean,head_std,compound_mean,compound_std,modifier,head
0,3.866667,1.117537,4.866667,0.339935,4.250000,0.871165,end_n,user_n
1,1.607143,1.654848,1.892857,1.496169,1.703704,1.717337,firing_n,line_n
2,2.821429,1.964935,4.862069,0.344828,3.827586,1.233693,game_n,plan_n
3,4.766667,0.422953,4.862069,0.344828,4.800000,0.476095,application_n,form_n
4,0.600000,0.800000,4.586207,1.099129,1.310345,1.020596,snail_n,mail_n
5,2.678571,1.691440,3.933333,1.181336,3.785714,1.205853,web_n,site_n
6,0.379310,0.805746,4.714286,0.839096,1.517241,1.133219,flea_n,market_n
7,0.428571,0.775913,5.000000,0.000000,2.642857,1.315139,grandfather_n,clock_n
8,1.066667,1.289272,3.407407,1.340516,1.703704,1.047566,diamond_n,wedding_n
9,4.714286,0.589015,0.862069,0.936764,2.185185,1.155888,guilt_n,trip_n
10,1.592593,1.472193,1.444444,1.770820,1.518519,1.449658,silver_n,spoon_n
11,3.107143,1.371633,2.862069,1.357588,3.333333,1.273665,rush_n,hour_n
12,2.000000,1.839732,4.620690,0.997023,3.851852,1.267944,china_n,clay_n
13,1.400000,1.083205,5.000000,0.000000,3.038462,1.224141,cocktail_n,dress_n
14,4.666667,0.537484,4.933333,0.249444,4.666667,0.471405,mailing_n,list_n
15,4.814815,0.771580,0.517241,1.037925,2.448276,1.248066,spelling_n,bee_n
16,4.666667,0.649786,4.766667,0.615540,4.400000,0.757188,public_n,service_n
17,2.931034,1.507019,4.517241,1.070633,4.000000,1.164965,head_n,teacher_n
18,4.500000,0.718795,5.000000,0.000000,4.600000,0.611010,video_n,game_n
19,4.666667,0.544331,0.413793,0.766418,2.275862,1.079481,spinning_n,jenny_n
20,3.961538,1.055417,0.466667,0.618241,2.038462,1.125945,think_n,tank_n
21,4.222222,1.065740,0.370370,0.727662,1.555556,1.099944,cash_n,cow_n
22,0.379310,0.611036,1.107143,1.144530,0.827586,0.912328,swan_n,song_n
23,0.666667,1.011050,1.851852,1.296825,0.724138,0.689655,monkey_n,business_n
24,0.370370,0.554320,0.814815,1.248318,0.750000,1.122020,snake_n,oil_n
25,0.714286,0.749149,1.000000,0.942809,0.714286,0.839096,smoking_n,gun_n
26,3.821429,0.888561,3.896552,0.959340,3.862069,1.007699,balance_n,sheet_n
27,0.758621,0.624509,4.607143,0.859372,1.250000,1.022078,zebra_n,crossing_n
28,0.884615,1.187335,1.730769,1.630424,1.250000,1.183970,cutting_n,edge_n
29,4.655172,0.956858,4.344828,0.799822,4.466667,0.718022,radio_n,station_n
...,...,...,...,...,...,...,...,...
60,0.296296,0.456623,0.448276,0.769514,0.310345,0.593264,gravy_n,train_n
61,3.655172,1.122677,4.666667,0.471405,3.700000,0.971253,case_n,study_n
62,4.466667,0.884433,0.500000,0.823754,1.925926,1.274419,night_n,owl_n
63,0.777778,0.916246,3.888889,1.396645,1.689655,0.875074,pecking_n,order_n
64,3.827586,1.052713,0.714286,0.749149,1.482759,1.102370,eye_n,candy_n
65,0.785714,0.976771,0.500000,0.866025,0.777778,0.874890,nest_n,egg_n
66,3.551724,1.220125,4.000000,1.032796,4.111111,1.065740,role_n,model_n
67,4.413793,1.067296,3.307692,2.071217,3.896552,1.422597,fashion_n,plate_n
68,0.185185,0.474305,3.785714,1.047348,1.250000,1.089725,crocodile_n,tear_n
69,0.250000,0.508850,2.035714,1.322393,0.857143,0.989743,rat_n,race_n
70,0.964286,0.944236,4.233333,0.919541,2.142857,1.273754,crash_n,course_n
71,0.642857,0.971534,1.551724,1.404088,1.428571,1.347712,rocket_n,science_n
72,4.750000,0.508850,0.714286,0.795395,2.166667,1.035482,memory_n,lane_n
73,1.035714,0.822980,4.896552,0.304543,2.320000,1.287478,smoking_n,jacket_n
74,4.344828,0.992241,4.689655,0.531974,4.571429,0.903508,interest_n,rate_n
75,4.862069,0.344828,5.000000,0.000000,4.931034,0.253395,engine_n,room_n
76,4.607143,0.672909,2.000000,1.281740,2.720000,0.917388,blame_n,game_n
77,3.733333,1.948219,3.866667,1.978776,3.724138,1.836349,brass_n,ring_n
78,0.500000,0.562731,4.655172,1.152983,1.807692,1.074861,panda_n,car_n
79,4.900000,0.300000,4.533333,0.956847,4.821429,0.382993,research_n,project_n
80,4.733333,0.442217,4.413793,0.720021,4.655172,0.657889,call_n,center_n
81,0.379310,0.611036,4.500000,0.718795,1.518519,1.166520,graveyard_n,shift_n
82,4.666667,0.537484,4.896552,0.304543,4.666667,0.699206,credit_n,card_n
83,2.300000,1.594783,4.000000,0.830455,2.892857,1.112888,cheat_n,sheet_n
84,4.833333,0.372678,4.766667,0.495536,4.700000,0.640312,parking_n,lot_n
85,3.172414,1.340843,2.033333,1.516209,2.689655,1.206404,fine_n,line_n
86,3.160000,2.203270,3.533333,1.857118,3.793103,1.749469,brick_n,wall_n
87,4.933333,0.249444,4.827586,0.377740,4.827586,0.460057,speed_n,limit_n
88,4.800000,0.400000,4.900000,0.300000,4.866667,0.339935,swimming_n,pool_n
89,4.866667,0.339935,4.827586,0.460057,4.733333,0.442217,bank_n,account_n

In [92]:
compounds_final_reddy=pd.merge(reddy11_study,compounds_final.reset_index(),on=['modifier','head'])
compounds_final_reddy.set_index(['modifier','head'],inplace=True)
compounds_final_reddy

,,modifier_mean,modifier_std,head_mean,head_std,compound_mean,compound_std,sim_bw_constituents,sim_with_head,sim_with_modifier,log_ratio,ppmi,local_mi
modifier,head,,,,,,,,,,,,
end_n,user_n,3.866667,1.117537,4.866667,0.339935,4.250000,0.871165,0.045,0.292,0.146,0.001,0.375,0.003
firing_n,line_n,1.607143,1.654848,1.892857,1.496169,1.703704,1.717337,0.032,0.068,0.429,0.000,0.353,0.001
application_n,form_n,4.766667,0.422953,4.862069,0.344828,4.800000,0.476095,0.055,0.265,0.200,0.005,0.467,0.007
web_n,site_n,2.678571,1.691440,3.933333,1.181336,3.785714,1.205853,0.365,0.576,0.632,0.018,0.484,0.023
silver_n,spoon_n,1.592593,1.472193,1.444444,1.770820,1.518519,1.449658,0.048,0.700,0.067,0.000,0.548,0.001
rush_n,hour_n,3.107143,1.371633,2.862069,1.357588,3.333333,1.273665,0.138,0.169,0.760,0.000,0.583,0.001
mailing_n,list_n,4.666667,0.537484,4.933333,0.249444,4.666667,0.471405,0.099,0.213,0.465,0.000,0.497,0.001
spelling_n,bee_n,4.814815,0.771580,0.517241,1.037925,2.448276,1.248066,0.071,0.286,0.241,0.000,0.621,0.001
public_n,service_n,4.666667,0.649786,4.766667,0.615540,4.400000,0.757188,0.025,0.101,0.228,0.000,0.099,0.001
video_n,game_n,4.500000,0.718795,5.000000,0.000000,4.600000,0.611010,0.159,0.322,0.494,0.001,0.536,0.002
smoking_n,gun_n,0.714286,0.749149,1.000000,0.942809,0.714286,0.839096,0.010,0.123,0.062,0.000,0.480,0.001
balance_n,sheet_n,3.821429,0.888561,3.896552,0.959340,3.862069,1.007699,0.447,0.688,0.663,0.023,0.477,0.030
cutting_n,edge_n,0.884615,1.187335,1.730769,1.630424,1.250000,1.183970,0.055,0.247,0.229,0.000,0.575,0.001
radio_n,station_n,4.655172,0.956858,4.344828,0.799822,4.466667,0.718022,0.093,0.313,0.292,0.001,0.362,0.003
search_n,engine_n,4.620690,0.961816,2.250000,1.703463,3.320000,1.156547,0.186,0.486,0.375,0.003,0.407,0.005
face_n,value_n,1.392857,1.112888,4.642857,0.811273,3.037037,0.881139,0.031,0.148,0.192,0.000,0.285,0.001
human_n,being_n,4.862069,0.344828,4.333333,1.135292,4.586207,0.720021,0.013,0.259,0.047,0.000,0.364,0.001
melting_n,pot_n,1.000000,1.154701,0.481481,0.630718,0.538462,0.634324,0.181,0.558,0.318,0.001,0.569,0.003
ground_n,floor_n,4.655172,0.657889,4.700000,0.781025,4.666667,0.596285,0.061,0.401,0.153,0.001,0.473,0.002
law_n,firm_n,4.724138,0.518390,3.892857,1.496169,4.400000,0.757188,0.117,0.569,0.202,0.006,0.370,0.009
lip_n,service_n,2.033333,1.251222,1.750000,1.404711,1.620690,1.063948,0.145,0.169,0.850,0.011,0.366,0.014
health_n,insurance_n,4.533333,0.884433,4.833333,0.582142,4.400000,1.171893,0.200,0.549,0.353,0.013,0.269,0.020
chain_n,reaction_n,2.407407,1.162987,4.517241,0.724958,2.931034,1.142624,0.193,0.443,0.436,0.008,0.455,0.012
graduate_n,student_n,4.700000,0.458258,5.000000,0.000000,4.900000,0.300000,0.014,0.094,0.122,0.000,0.310,0.001
rock_n,bottom_n,0.740741,0.885797,3.800000,1.077033,2.142857,1.186661,0.061,0.347,0.173,0.000,0.490,0.001
climate_n,change_n,4.896552,0.304543,4.827586,0.377740,4.965517,0.182466,0.195,0.342,0.562,0.005,0.458,0.008
car_n,park_n,4.896552,0.402135,4.000000,1.095445,4.200000,1.045626,0.008,0.095,0.064,0.000,0.261,0.001
gold_n,mine_n,1.379310,1.424267,0.703704,0.808053,0.814815,0.818175,0.064,0.251,0.254,0.000,0.437,0.001
case_n,study_n,3.655172,1.122677,4.666667,0.471405,3.700000,0.971253,0.142,0.453,0.309,0.019,0.341,0.028
nest_n,egg_n,0.785714,0.976771,0.500000,0.866025,0.777778,0.874890,0.263,0.375,0.698,0.000,0.748,0.001
role_n,model_n,3.551724,1.220125,4.000000,1.032796,4.111111,1.065740,0.118,0.180,0.663,0.006,0.426,0.008
crocodile_n,tear_n,0.185185,0.474305,3.785714,1.047348,1.250000,1.089725,0.163,0.294,0.595,0.000,0.774,0.001
rocket_n,science_n,0.642857,0.971534,1.551724,1.404088,1.428571,1.347712,0.061,0.119,0.512,0.001,0.506,0.002
interest_n,rate_n,4.344828,0.992241,4.689655,0.531974,4.571429,0.903508,0.457,0.563,0.808,0.113,0.260,0.147
research_n,project_n,4.900000,0.300000,4.533333,0.956847,4.821429,0.382993,0.164,0.506,0.324,0.007,0.308,0.012
credit_n,card_n,4.666667,0.537484,4.896552,0.304543,4.666667,0.699206,0.345,0.644,0.536,0.027,0.467,0.034
parking_n,lot_n,4.833333,0.372678,4.766667,0.495536,4.700000,0.640312,0.400,0.788,0.506,0.004,0.622,0.005
brick_n,wall_n,3.160000,2.203270,3.533333,1.857118,3.793103,1.749469,0.033,0.173,0.183,0.000,0.338,0.001
speed_n,limit_n,4.933333,0.249444,4.827586,0.377740,4.827586,0.460057,0.045,0.227,0.195,0.000,0.312,0.001
swimming_n,pool_n,4.800000,0.400000,4.900000,0.300000,4.866667,0.339935,0.283,0.341,0.830,0.000,0.683,0.001
bank_n,account_n,4.866667,0.339935,4.827586,0.460057,4.733333,0.442217,0.124,0.367,0.336,0.002,0.334,0.004

In [93]:
with open('compounds_final_graves.csv', 'w') as f1:
    compounds_final_graves.to_csv(f1, header=True,sep="\t")

In [94]:
with open('compounds_final_reddy.csv', 'w') as f1:
    compounds_final_reddy.to_csv(f1, header=True,sep="\t")