In [37]:
import pandas as pd
import numpy as np
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
pd.options.display.float_format = '{:,.3f}'.format

pd.options.mode.chained_assignment = None
import seaborn as sns
%matplotlib inline
sns.set(style="whitegrid")
#sns.set(rc={'figure.figsize':(10,10)})
import matplotlib
#matplotlib.use('agg')
#matplotlib.style.use('ggplot')
import pickle as pkl
from matplotlib import pyplot as plt
#plt.rcParams.update(plt.rcParamsDefault)
new_plot_col=list(range(1900,2001,10))
from scipy.stats.stats import pearsonr

In [38]:
new_plot_col

[1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000]

In [9]:
def lemma_maker(x, y):
    return lemmatizer.lemmatize(x,y)
br_to_us=pd.read_excel("Book.xlsx",skiprows=[0])
br_to_us_dict=dict(zip(br_to_us.UK.tolist(),br_to_us.US.tolist()))
spelling_replacement={'modifier':br_to_us_dict,'head':br_to_us_dict}

In [2]:
contextwords_df=pd.read_csv("contexts.csv",sep="\t")
contextwords=contextwords_df.context.tolist()

In [12]:
reddy11_study=pd.read_csv("/data/dharp/compounding/datasets/ijcnlp_compositionality_data/MeanAndDeviations.clean.txt",sep="\t")
#print(reddy11_study.columns)
reddy11_study.columns=['compound','to_divide']
reddy11_study['modifier_mean'],reddy11_study['modifier_std'],reddy11_study['head_mean'],reddy11_study['head_std'],reddy11_study['compound_mean'],reddy11_study['compound_std'],_=reddy11_study.to_divide.str.split(" ",7).str
reddy11_study['modifier'],reddy11_study['head']=reddy11_study['compound'].str.split(" ",2).str
reddy11_study.modifier=reddy11_study.modifier.str[:-2]
reddy11_study['head']=reddy11_study['head'].str[:-2]
reddy11_study.drop(['compound','to_divide'],axis=1,inplace=True)
#reddy11_study['modifier']=np.vectorize(lemma_maker)(reddy11_study['modifier'],'n')
reddy11_study['head']=np.vectorize(lemma_maker)(reddy11_study['head'],'n')
reddy11_study.replace(spelling_replacement,inplace=True)
reddy11_study['modifier']=reddy11_study['modifier']+"_n"
reddy11_study['head']=reddy11_study['head']+"_n"
reddy11_study=reddy11_study.apply(pd.to_numeric, errors='ignore')
#reddy11_study.set_index(['modifier','head'],inplace=True)
reddy11_study.head()

,modifier_mean,modifier_std,head_mean,head_std,compound_mean,compound_std,modifier,head
0,3.867,1.118,4.867,0.340,4.250,0.871,end_n,user_n
1,1.607,1.655,1.893,1.496,1.704,1.717,firing_n,line_n
2,2.821,1.965,4.862,0.345,3.828,1.234,game_n,plan_n
3,4.767,0.423,4.862,0.345,4.800,0.476,application_n,form_n
4,0.600,0.800,4.586,1.099,1.310,1.021,snail_n,mail_n

In [3]:
compounds=pd.read_csv("/data/dharp/compounding/datasets/compounds.csv")
#compounds=compounds.query('decade != 2000')
#compounds=compounds.reindex()
compounds=compounds.groupby(['modifier','head','decade'])['count'].sum().to_frame()
compounds.info()
compounds.head()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9078867 entries, (a_n, aaaaa_n, 1870) to (zzzz_n, best_n, 2000)
Data columns (total 1 columns):
count    int64
dtypes: int64(1)
memory usage: 148.7+ MB

                         count
modifier head    decade
a_n      aaaaa_n 1870        1
                 1910        1
                 1920        3
                 1930        1
                 1940        1

In [42]:
compounds_new=compounds[compounds['count']>20]
print((compounds.shape[0]-compounds_new.shape[0])/compounds.shape[0])
compounds_new.head()

0.5122525751285926

                           count
modifier head      decade
a_n      addison_n 1960       28
                   1970       96
                   1980      206
                   1990      196
                   2000      222

## Before

In [43]:
count_df=reddy11_study[['modifier','head']].merge(compounds_new.reset_index(),on=['modifier','head'],how='left')
#temp_df.set_index(['modifier','head','decade'],inplace=True)
count_df=pd.pivot_table(count_df,index=['modifier','head'],columns='decade',values='count',aggfunc=np.sum)
to_change=[str(x).split('.')[0] for x in count_df.columns.tolist()]
count_df.columns=to_change
count_df.columns = count_df.columns.map(int)
count_df.fillna(0,inplace=True)

In [48]:
selected_df=count_df[new_plot_col]
selected_df[(selected_df != 0).all(1)]

                                1900       1910       1920       1930  \
modifier      head
application_n form_n         262.000    478.000    571.000    821.000
balance_n     sheet_n     19,934.000 43,172.000 78,268.000 76,070.000
bank_n        account_n    2,747.000  4,564.000  4,115.000  5,132.000
brass_n       ring_n         303.000    251.000    173.000    132.000
brick_n       wall_n       8,667.000  6,768.000  5,567.000  5,112.000
case_n        study_n         59.000    264.000  2,243.000  9,568.000
chain_n       reaction_n      25.000     69.000     78.000    657.000
china_n       clay_n         565.000    322.000    358.000    274.000
crocodile_n   tear_n          72.000     71.000    204.000    136.000
cutting_n     edge_n         246.000    217.000    162.000    242.000
engine_n      room_n       2,188.000  4,012.000  3,161.000  2,209.000
face_n        value_n     10,746.000 19,588.000 24,324.000 25,623.000
fashion_n     plate_n         67.000     45.000     44.000     89.000
firing_n      line_n          41.000     92.000     95.000     80.000
gold_n        mine_n       1,398.000  1,213.000    851.000    883.000
graduate_n    student_n       60.000     92.000     99.000    114.000
ground_n      floor_n     27,212.000 22,276.000 23,875.000 21,802.000
head_n        teacher_n      503.000    478.000    410.000    392.000
health_n      insurance_n    309.000  2,601.000  6,653.000  9,180.000
human_n       being_n        109.000    109.000    595.000    604.000
interest_n    rate_n       7,070.000 18,795.000 37,120.000 70,051.000
ivory_n       tower_n         76.000    164.000    273.000    441.000
law_n         firm_n       3,200.000  5,397.000  5,060.000  4,887.000
lip_n         service_n      187.000    693.000  1,707.000  6,057.000
mailing_n     list_n         239.000  1,123.000  1,914.000  1,852.000
melting_n     pot_n          428.000  1,951.000  2,656.000  2,561.000
nest_n        egg_n          117.000    130.000    141.000    272.000
night_n       owl_n           60.000     27.000     43.000     72.000
public_n      service_n    7,407.000 26,894.000 28,556.000 27,857.000
rock_n        bottom_n        48.000     96.000     62.000    109.000
rush_n        hour_n          49.000    241.000    393.000    246.000
silver_n      bullet_n       198.000    102.000    180.000    218.000
              screen_n        48.000     25.000     64.000    104.000
              spoon_n      2,162.000  1,454.000  1,648.000  1,528.000
smoking_n     gun_n           56.000     29.000     33.000     43.000
              jacket_n        27.000     23.000     24.000     87.000
speed_n       limit_n        396.000  1,339.000  1,270.000  1,296.000
spelling_n    bee_n           31.000     61.000     42.000     26.000
swan_n        song_n          67.000     55.000     28.000     94.000
swimming_n    pool_n         112.000    347.000    613.000  1,009.000

                                1940        1950        1960        1970  \
modifier      head
application_n form_n       2,032.000   4,118.000   7,143.000  13,208.000
balance_n     sheet_n     77,632.000  94,371.000 136,029.000 172,020.000
bank_n        account_n    5,309.000   8,446.000  14,357.000  24,595.000
brass_n       ring_n         149.000     152.000     247.000     416.000
brick_n       wall_n       4,975.000   7,087.000  10,194.000  13,267.000
case_n        study_n     11,474.000  29,932.000  79,411.000 216,616.000
chain_n       reaction_n   7,060.000  21,994.000  35,146.000  35,001.000
china_n       clay_n         300.000     381.000     408.000     578.000
crocodile_n   tear_n         221.000     257.000     464.000     548.000
cutting_n     edge_n         406.000     485.000     723.000     894.000
engine_n      room_n       3,529.000   3,521.000   5,383.000   5,175.000
face_n        value_n     25,334.000  36,517.000  62,020.000  78,090.000
fashion_n     plate_n         84.000     122.000     131.000     176.000
firing_n      line_n          91.000      71.000     286.000     490.000
gold_n        mine_n         759.000     839.000   1,296.000   1,384.000
graduate_n    student_n      146.000     484.000   1,339.000   2,989.000
ground_n      floor_n     19,967.000  31,256.000  50,651.000  64,480.000
head_n        teacher_n      375.000     590.000   1,060.000   1,864.000
health_n      insurance_n 12,811.000  18,568.000  48,369.000 109,225.000
human_n       being_n        484.000   2,052.000   4,640.000   5,588.000
interest_n    rate_n      82,823.000 141,671.000 325,422.000 611,450.000
ivory_n       tower_n      1,181.000   1,603.000   3,392.000   4,048.000
law_n         firm_n       4,047.000   6,832.000  14,928.000  31,623.000
lip_n         service_n   12,736.000  21,814.000  47,963.000  67,683.000
mailing_n     list_n       2,446.000   3,267.000   4,870.000   8,918.000
melting_n     pot_n        3,652.000   4,466.000   9,087.000  17,409.000
nest_n        egg_n          539.000     582.000     930.000   1,325.000
night_n       owl_n           36.000      39.000     114.000      86.000
public_n      service_n   23,173.000  39,216.000  70,777.000  86,801.000
rock_n        bottom_n       131.000     313.000     628.000   1,094.000
rush_n        hour_n         398.000     673.000   1,406.000   2,849.000
silver_n      bullet_n       136.000     188.000     285.000     424.000
              screen_n       114.000      93.000     213.000     396.000
              spoon_n      1,605.000   1,715.000   2,595.000   2,930.000
smoking_n     gun_n           39.000      47.000      43.000     165.000
              jacket_n        64.000     109.000     139.000     154.000
speed_n       limit_n      1,504.000   2,909.000   4,927.000   8,482.000
spelling_n    bee_n           87.000      95.000      73.000     176.000
swan_n        song_n          36.000      23.000      62.000     115.000
swimming_n    pool_n       1,506.000   2,558.000   5,804.000   8,451.000

                                   1980          1990          2000
modifier      head
application_n form_n         21,305.000    39,508.000    44,324.000
balance_n     sheet_n       281,296.000   447,042.000   659,867.000
bank_n        account_n      42,396.000    80,839.000   149,222.000
brass_n       ring_n            778.000     1,581.000     2,647.000
brick_n       wall_n         19,520.000    32,990.000    60,194.000
case_n        study_n       390,239.000   737,327.000 1,258,029.000
chain_n       reaction_n     42,120.000    93,356.000   114,377.000
china_n       clay_n            523.000       415.000       598.000
crocodile_n   tear_n            487.000       512.000       869.000
cutting_n     edge_n          1,002.000     1,123.000     1,573.000
engine_n      room_n          7,283.000     9,653.000    20,166.000
face_n        value_n       109,842.000   170,613.000   229,304.000
fashion_n     plate_n           305.000       462.000       733.000
firing_n      line_n            627.000       674.000       773.000
gold_n        mine_n          1,703.000     2,654.000     4,039.000
graduate_n    student_n       4,014.000     7,500.000    11,845.000
ground_n      floor_n        84,633.000   122,418.000   195,114.000
head_n        teacher_n       2,637.000     3,932.000     7,714.000
health_n      insurance_n   146,303.000   306,858.000   453,932.000
human_n       being_n         4,310.000     5,434.000    11,345.000
interest_n    rate_n      1,479,726.000 2,346,340.000 2,705,974.000
ivory_n       tower_n         4,315.000     6,495.000    10,391.000
law_n         firm_n         62,565.000   127,429.000   232,040.000
lip_n         service_n      76,769.000   108,108.000   136,362.000
mailing_n     list_n         14,227.000    40,564.000    49,873.000
melting_n     pot_n          17,674.000    32,291.000    44,164.000
nest_n        egg_n           2,504.000     5,292.000     9,928.000
night_n       owl_n             205.000       667.000     1,600.000
public_n      service_n      80,580.000    83,721.000   106,339.000
rock_n        bottom_n        1,717.000     3,726.000     7,688.000
rush_n        hour_n          3,969.000     6,768.000    11,759.000
silver_n      bullet_n          407.000     1,718.000     7,497.000
              screen_n          973.000     2,192.000     4,214.000
              spoon_n         4,156.000     6,662.000    12,454.000
smoking_n     gun_n             554.000     1,356.000     5,302.000
              jacket_n          280.000       351.000       835.000
speed_n       limit_n        16,871.000    29,308.000    49,994.000
spelling_n    bee_n             499.000     1,529.000     1,591.000
swan_n        song_n             80.000        92.000       182.000
swimming_n    pool_n         20,576.000    41,070.000    49,207.000

In [9]:
compound_counts[compound_counts['count']>20].head(20)

                           count
modifier head      decade
a_n      addison_n 1960       28
                   1970       96
                   1980      206
                   1990      196
                   2000      222
         anti_n    1960       27
                   1970       30
                   1980       41
                   1990       67
                   2000       90
         archive_n 1960       98
                   1970      258
                   1980       91
                   1990       60
                   2000       29
         atom_n    1950       29
                   1960       34
                   2000       25
         b_n       1810       58
                   1820       74

In [ ]:
compound_counts[compound_counts['count']>20]

In [14]:
compounds.reset_index(inplace=True)
new_compounds=compounds.loc[compounds.modifier.isin(contextwords) & (compounds['head'].isin(contextwords))]
new_compounds_decade_counts=new_compounds.groupby(['modifier','head'])['count'].sum().to_frame()
new_compounds_decade_counts

                         count
modifier head
a_n      addison_n         526
         anti_n            169
         archive_n         510
         atom_n            116
         b_n             24600
         ballet_n           85
         band_n            384
         baseball_n         90
         behavior_n       1080
         bell_n            665
         belle_n            78
         bend_n            304
         berkley_n         144
         bibliography_n   2799
         bill_n            336
         bird_n            215
         board_n            80
         book_n             37
         boswell_n         214
         brand_n            48
         bunch_n           514
         burn_n            104
         business_n         70
         c_n               756
         calendar_n         78
         call_n             39
         campaign_n        240
         candle_n           48
         cassell_n         510
         cat_n             388
...                        ...
zurich_n ch_n               54
         chamber_n         283
         church_n           28
         city_n             53
         cohort_n          169
         conference_n      300
         congress_n         47
         dada_n            102
         federal_n          42
         government_n      245
         institute_n        98
         james_n           146
         market_n           53
         medical_n         211
         opera_n            44
         peasantry_n       141
         polytechnic_n     363
         school_n          432
         seminar_n        1253
         speech_n           43
         stock_n           431
         translation_n      39
         university_n      371
         wilhelm_n          48
zvi_n    bodie_n            97
         institute_n       918
         press_n            28
         publication_n      38
zygote_n nucleus_n          42
         result_n           72

[848435 rows x 1 columns]

In [15]:
new_compounds_decade_counts.describe()

              count
count    848435.000
mean       2673.265
std      148101.622
min           1.000
25%          74.000
50%         184.000
75%         554.000
max   118319029.000