In [2]:
import pandas as pd
import glob

['/data/dharp/compounding/datasets/words_octiron.csv',
 '/data/dharp/compounding/datasets/words_adamant.csv',
 '/data/dharp/compounding/datasets/words_latinum.csv',
 '/data/dharp/compounding/datasets/words_mithril.csv']

In [8]:
words = pd.concat([pd.read_csv(f,sep="\t") for f in glob.glob('/data/dharp/compounding/datasets/words_*.csv')], ignore_index = True)

In [10]:
words=words.groupby(['word','context','decade']).sum()

In [12]:
words.reset_index(inplace=True)

In [13]:
words

                     word    context  decade  count
0                     a_n        a_a    1800     15
1                     a_n        a_a    1810     22
2                     a_n        a_a    1820     56
3                     a_n        a_a    1830     69
4                     a_n        a_a    1840     84
5                     a_n        a_a    1850     77
6                     a_n        a_a    1860     73
7                     a_n        a_a    1870     64
8                     a_n        a_a    1880    101
9                     a_n        a_a    1890     63
10                    a_n        a_a    1900    154
11                    a_n        a_a    1910    352
12                    a_n        a_a    1920    327
13                    a_n        a_a    1930    387
14                    a_n        a_a    1940    837
15                    a_n        a_a    1950   1398
16                    a_n        a_a    1960   1725
17                    a_n        a_a    1970   1815
18                    a_n        a_a    1980   2250
19                    a_n        a_a    1990   3157
20                    a_n        a_a    2000   4091
21                    a_n        a_n    1800    128
22                    a_n        a_n    1810    263
23                    a_n        a_n    1820    246
24                    a_n        a_n    1830    412
25                    a_n        a_n    1840    330
26                    a_n        a_n    1850    365
27                    a_n        a_n    1860    363
28                    a_n        a_n    1870    497
29                    a_n        a_n    1880   1237
...                   ...        ...     ...    ...
315103088      zygotene_n  meiosis_n    1950      4
315103089      zygotene_n  meiosis_n    1960     18
315103090      zygotene_n  meiosis_n    1970     22
315103091      zygotene_n  meiosis_n    1980     31
315103092      zygotene_n  meiosis_n    1990     19
315103093      zygotene_n  meiosis_n    2000     12
315103094      zygotene_n    stage_n    1950     10
315103095      zygotene_n    stage_n    1960     47
315103096      zygotene_n    stage_n    1970     79
315103097      zygotene_n    stage_n    1980     89
315103098      zygotene_n    stage_n    1990     88
315103099      zygotene_n    stage_n    2000     57
315103100  zylobalsamum_n       be_v    1890     18
315103101  zylobalsamum_n       be_v    1900      2
315103102  zylobalsamum_n       be_v    1910      1
315103103  zylobalsamum_n       be_v    1920      5
315103104  zylobalsamum_n       be_v    1930      1
315103105  zylobalsamum_n       be_v    1960      2
315103106  zylobalsamum_n       be_v    1970      1
315103107  zylobalsamum_n       be_v    1990      3
315103108  zylobalsamum_n       be_v    2000      9
315103109  zylobalsamum_n     call_v    1890     18
315103110  zylobalsamum_n     call_v    1900      2
315103111  zylobalsamum_n     call_v    1910      1
315103112  zylobalsamum_n     call_v    1920      5
315103113  zylobalsamum_n     call_v    1930      1
315103114  zylobalsamum_n     call_v    1960      2
315103115  zylobalsamum_n     call_v    1970      1
315103116  zylobalsamum_n     call_v    1990      3
315103117  zylobalsamum_n     call_v    2000      9

[315103118 rows x 4 columns]

In [14]:
words.to_csv('/data/dharp/compounding/datasets/words.csv',index=False)